Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

biome-check:
  name: Biome Check
  entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

markdown-table-formatter:
  name: Markdown Table Formatter
  entry: yarn markdown-table-formatter
  language: system

feat(fish): add secrets.d for secret env vars
  .gitignore
  config/fish/exports.fish
  config/fish/secrets.d/README.md
  config/fish/secrets.d/github.fish.example
Due: biome-check, markdown-table-formatter

fix(fish): guard nvim aliases and add eza fallbacks
  config/fish/alias.fish
  config/fish/config.fish
Due: none

refactor(mise): simplify tool management config
  config/exports
  config/mise/config.toml
  scripts/cleanup-old-version-managers.sh
Due: none

chore(serena): update project configuration
  .serena/project.yml
Due: none

refactor(claude): migrate hooks to external scripts and add new hooks
  .claude/hooks/async-bats.sh
  .claude/hooks/log-failures.sh
  .claude/hooks/notify-idle.sh
  .claude/hooks/post-edit-format.sh
  .claude/hooks/pre-edit-block.sh
  .claude/hooks/session-start-context.sh
  .claude/hooks/stop-lint-gate.sh
  .claude/settings.json
Due: biome-check

docs(claude): improve CLAUDE.md with mise, secrets.d, and cleanup
  CLAUDE.md
Due: biome-check, markdown-table-formatter

fix(fish): fix code block indentation in secrets.d README
  config/fish/secrets.d/README.md
Due: biome-check, markdown-table-formatter

chore(git): allow .claude directory to be tracked in this repo
  .gitignore
Due: none

fix(git): use PATH-resolved gh in credential helper
  hosts/s/config/git/overrides/config
Due: none

feat(claude): block edits to submodule paths in pre-edit hook
  .claude/hooks/pre-edit-block.sh
Due: none

feat(claude): add dotbot-validate and config-warn hooks
  .claude/hooks/post-edit-config-warn.sh
  .claude/hooks/post-edit-dotbot-validate.sh
Due: none

feat(claude): register dotbot-validate and config-warn hooks
  .claude/settings.json
Due: biome-check

feat(claude): add scaffolding and validation skills
  .claude/skills/dotbot-validate/SKILL.md
  .claude/skills/host-override/SKILL.md
  .claude/skills/new-fish-function/SKILL.md
  .claude/skills/new-script/SKILL.md
Due: biome-check, markdown-table-formatter

docs(claude): document new hooks, skills, and context-mode
  CLAUDE.md
Due: biome-check, markdown-table-formatter

feat(scripts): add x-gitprofile for mise enter hook git-profile switching
  local/bin/x-gitprofile
Due: none

fix: resolve shell startup errors and streamline tool management
  .claude/hooks/stop-lint-gate.sh
  .mise.toml
  config/fish/config.fish
  config/mise/config.toml
  install.conf.yaml
  local/bin/fzf
  scripts/install-dnf-packages.sh
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(scripts): rewrite nvim keymaps script to use Lua API
  scripts/create-nvim-keymaps.sh
Due: none

feat(fish): add mise completions
  config/fish/completions/mise.fish
Due: none

docs: regenerate nvim keybindings with full keymap coverage
  docs/nvim-keybindings.md
Due: biome-check, markdown-table-formatter

feat(alias): add cat alias to use bat when available
  config/alias
  config/fish/alias.fish
Due: none

chore(fish): clear placeholder token in github secrets example
  config/fish/secrets.d/github.fish.example
Due: none

docs: add stylua and pre-commit commands to CLAUDE.md
  CLAUDE.md
Due: biome-check, markdown-table-formatter

style(biome): align lineWidth to 90
  biome.json
Due: biome-check

style(editorconfig): reorder lua section
  .editorconfig
Due: none

fix(nvim): address PR review feedback
  CLAUDE.md
  config/nvim/.luarc.json
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
Due: biome-check, markdown-table-formatter

chore(nvim): add luarc.json for lua language server
  config/nvim/.luarc.json
Due: biome-check

refactor(nvim): reorganize plugins by concern
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/code.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/folke.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/neotree.lua
  config/nvim/lua/plugins/other.lua
  config/nvim/lua/plugins/telescope.lua
  config/nvim/lua/plugins/tools.lua
  config/nvim/lua/plugins/ui.lua
Due: none

fix(nvim): address second round of PR review feedback
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/ui.lua
Due: none

refactor(nvim): reorganize plugins and configure telescope (#322)
  .editorconfig
  CLAUDE.md
  biome.json
  config/nvim/.luarc.json
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/code.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/folke.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/neotree.lua
  config/nvim/lua/plugins/other.lua
  config/nvim/lua/plugins/telescope.lua
  config/nvim/lua/plugins/tools.lua
  config/nvim/lua/plugins/ui.lua
Due: biome-check, markdown-table-formatter

feat(nvim): add native lsp/*.lua server definitions for 17 servers
  config/nvim/lsp/ansiblels.lua
  config/nvim/lsp/ast_grep.lua
  config/nvim/lsp/bashls.lua
  config/nvim/lsp/cssls.lua
  config/nvim/lsp/dockerls.lua
  config/nvim/lsp/eslint.lua
  config/nvim/lsp/gopls.lua
  config/nvim/lsp/html.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/jsonls.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/pyright.lua
  config/nvim/lsp/tailwindcss.lua
  config/nvim/lsp/terraformls.lua
  config/nvim/lsp/ts_ls.lua
  config/nvim/lsp/vimls.lua
  config/nvim/lsp/yamlls.lua
Due: none

refactor(nvim): move LSP setup to init.lua and autogroups.lua
  config/nvim/.luarc.json
  config/nvim/init.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/plugins/lsp.lua
Due: biome-check

refactor(nvim): remove copilot, lazydev, fidget and clean up mini plugins
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/editor.lua
Due: none

feat(nvim): add treesitter folding and ansible filetype detection
  config/nvim/ftdetect/ansible.lua
  config/nvim/lua/options.lua
Due: none

refactor(nvim): fix trouble.nvim v3 config, replace neo-tree and stickybuf
  config/nvim/lua/autogroups.lua
  config/nvim/lua/plugins/navigation.lua
Due: none

refactor(nvim): clean up mini plugins and add mini.files
  config/nvim/lua/plugins/editor.lua
Due: none

refactor(nvim): update keymaps for mini.files, trouble v3, render-markdown
  config/nvim/.luarc.json
  config/nvim/lua/keymaps.lua
Due: biome-check

feat(nvim): add render-markdown.nvim for inline markdown rendering
  config/nvim/lua/plugins/ui.lua
Due: none

fix(nvim): suppress lua_ls undefined-field on vim.uv fallback
  config/nvim/init.lua
Due: none

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|md)$
  markdown-table-formatter: any of: \.(md|markdown|mdown)$
