Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

biome-check:
  name: Biome Check
  entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

markdown-table-formatter:
  name: Markdown Table Formatter
  entry: yarn markdown-table-formatter
  language: system

feat(mise): add global mise config for unified tool management
  config/mise/config.toml
Due: none

refactor(shell): replace version managers with mise activate
  config/exports
  config/fish/conf.d/rustup.fish
  config/fish/config.fish
  config/fish/exports.fish
  config/fish/functions/load_nvm.fish
  config/fish/functions/nvm.fish
  config/fish/functions/nvm_find_nvmrc.fish
  config/husky/init.sh
  config/nvim/init.lua
  config/nvm/default-packages
  config/shared.sh
  config/vim/vimrc
  config/zsh/antidote.zsh
  config/zsh/antidote_plugins.txt
  config/zsh/p10k.zsh
  config/zsh/plugins/nvm-auto-use/nvm-auto-use.plugin.zsh
Due: none

refactor(dfm): replace per-language install commands with mise
  local/bin/dfm
  scripts/install-cargo-packages.md
  scripts/install-cargo-packages.sh
  scripts/install-go-packages.md
  scripts/install-go-packages.sh
  scripts/install-npm-packages.md
  scripts/install-npm-packages.sh
  scripts/install-python-packages.md
  scripts/install-python-packages.sh
Due: biome-check, markdown-table-formatter

chore(brew): remove tools now managed by mise
  config/homebrew/Brewfile
Due: none

feat(dfm): add cleanup script for old version manager installations
  install.conf.yaml
  scripts/cleanup-old-version-managers.sh
Due: none

refactor(mise): consolidate version files into .mise.toml
  .go-version
  .mise.toml
  .nvmrc
  .python-version
Due: none

chore: update project tooling and metadata
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  CLAUDE.md
  biome.json
  yarn.lock
Due: biome-check, markdown-table-formatter

chore(mise): trust project directories for auto-activation
  config/mise/config.toml
Due: none

chore(mise): update configs and add cleanup script documentation
  .editorconfig-checker.json
  .gitignore
  CLAUDE.md
  biome.json
  config/exports
  config/fish/alias.fish
  config/fish/completions/kubectl.fish
  config/fish/completions/orbctl.fish
  config/mise/config.toml
  config/nvim/lua/utils.lua
  config/vim/vimrc
  config/zsh/p10k.zsh
  hosts/s/config/git/overrides/ignore
  local/bin/dfm
  scripts/cleanup-old-version-managers.md
  scripts/cleanup-old-version-managers.sh
  scripts/install-python-packages.md
Due: biome-check, markdown-table-formatter

fix(mise): correct PATH precedence, error handling, and shell detection
  CLAUDE.md
  config/exports
  config/zsh/p10k.zsh
  local/bin/dfm
  scripts/cleanup-old-version-managers.sh
Due: biome-check, markdown-table-formatter

fix(git): use XDG path for host excludesfile
  hosts/s/config/git/overrides/config
Due: none

fix: harden error handling and shell-agnostic mise activation
  config/exports
  config/husky/init.sh
  local/bin/dfm
  scripts/cleanup-old-version-managers.sh
Due: none

fix: guard success messages on command exit status
  config/exports
  local/bin/dfm
  scripts/cleanup-old-version-managers.sh
  scripts/install-fonts.sh
  scripts/install-gh-extensions.sh
  scripts/install-python-packages.sh
  scripts/install-shellspec.sh
  scripts/install-z.sh
Due: none

fix: improve shell detection, curl flags, and cleanup robustness
  config/exports
  local/bin/dfm
  scripts/cleanup-old-version-managers.sh
  scripts/install-fonts.sh
  scripts/install-python-packages.sh
Due: none

fix(fish): use $HOME instead of hardcoded path in rustup.fish
  config/fish/conf.d/rustup.fish
Due: none

feat(fish): add kubectl and orbctl completions
  config/fish/completions/kubectl.fish
  config/fish/completions/orbctl.fish
Due: none

feat(fish): add dotnet tools to PATH
  config/fish/exports.fish
Due: none

update(fish): add dark-mode section to Catppuccin themes
  config/fish/themes/Catppuccin Frappe.theme
  config/fish/themes/Catppuccin Macchiato.theme
  config/fish/themes/Catppuccin Mocha.theme
Due: none

feat(tmux): enable allow-passthrough for terminal queries
  config/tmux/tmux.conf
Due: none

feat(git): add host-specific git ignore and excludesfile
  config/git/overrides/.gitignore
  hosts/s/config/git/overrides/config
  hosts/s/config/git/overrides/ignore
Due: none

style(karabiner): reformat karabiner.json
  config/karabiner/karabiner.json
Due: biome-check

feat(shell): align fish, bash, and zsh shell configurations
  config/alias
  config/exports
  config/fish/alias.fish
  config/fish/exports.fish
Due: none

feat(dfm): add cleanup script for old version manager installations
  install.conf.yaml
Due: none

chore(mise): update configs and add cleanup script documentation
  .editorconfig-checker.json
  .gitignore
  CLAUDE.md
  biome.json
  config/fish/alias.fish
  config/fish/completions/kubectl.fish
  config/fish/completions/orbctl.fish
  config/mise/config.toml
  config/nvim/lua/utils.lua
  config/vim/vimrc
  config/zsh/p10k.zsh
  hosts/s/config/git/overrides/ignore
  scripts/cleanup-old-version-managers.md
  scripts/install-python-packages.md
Due: biome-check, markdown-table-formatter

fix(mise): correct PATH precedence, error handling, and shell detection
  CLAUDE.md
  config/zsh/p10k.zsh
Due: biome-check, markdown-table-formatter

fix: harden error handling and shell-agnostic mise activation
  config/husky/init.sh
Due: none

fix: guard success messages on command exit status
  scripts/install-fonts.sh
  scripts/install-gh-extensions.sh
  scripts/install-python-packages.sh
  scripts/install-shellspec.sh
  scripts/install-z.sh
Due: none

fix: improve shell detection, curl flags, and cleanup robustness
  scripts/cleanup-old-version-managers.sh
  scripts/install-fonts.sh
  scripts/install-python-packages.sh
Due: none

fix(pre-commit): remove md from biome check file pattern
  .pre-commit-config.yaml
  config/exports
  config/karabiner/karabiner.json
  local/bin/dfm
  scripts/cleanup-old-version-managers.sh
Due: biome-check

chore(homebrew): update Brewfile dependencies
  config/homebrew/Brewfile
  scripts/install-git-crypt.md
  scripts/install-git-crypt.sh
Due: biome-check, markdown-table-formatter

refactor(go): remove goenv configs, use mise for Go
  config/fish/exports.fish
  config/goenv/goenvrc
  config/goenv/goenvrc.fish
Due: none

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|md)$
  markdown-table-formatter: any of: \.(md|markdown|mdown)$
