Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

fix(scripts): exit non-zero on empty stdin in x-compare-versions
  .claude/skills/adversarial-reviewe/SKILL.md
  docs/findings-todo.md
  hosts/lakka/config/exports-lakka
  local/bin/x-compare-versions.py
Due: biome-check, markdown-table-formatter

feat(starship): add battery, dotnet, php; show counts in git_status
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
Due: none

fix(tmux): drop fzf-tmux from sesh picker; portable lsa; safer wildcard
  config/alias
  config/fish/completions/sesh.fish
  config/sesh/sesh.toml
  config/tmux/sesh.sh
Due: none

fix(shell): point exports shellcheck source hint at moved host file
  config/exports
Due: none

docs: fix README dfm subcommands; trim CLAUDE.md; extract commands.md
  CLAUDE.md
  README.md
  config/nvim/CLAUDE.md
  docs/commands.md
Due: biome-check, markdown-table-formatter

feat(claude): add rules, hooks, scaffold skills; wire into settings
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/hooks/post-edit-rules-lint.sh
  .claude/rules/commit-format.md
  .claude/rules/context-mode.md
  .claude/rules/editorconfig.md
  .claude/rules/host-specific-config.md
  .claude/rules/keymap-descriptions.md
  .claude/rules/lsp-list-parity.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/posix-scripts.md
  .claude/rules/secrets-files.md
  .claude/rules/shell-scripts.md
  .claude/rules/vendored-files.md
  .claude/settings.json
  .claude/skills/bats-test-scaffold/SKILL.md
  .claude/skills/theme-handler-scaffold/SKILL.md
Due: biome-check, markdown-table-formatter

chore(audit): bootstrap docs/audit/ findings framework
  docs/audit/arch-findings.md
  docs/audit/arch-profile.md
  docs/audit/claude-rules-auditor-findings.md
  docs/audit/doc-findings.md
  docs/audit/nitpicker-findings.md
  docs/audit/security-findings.md
Due: biome-check, markdown-table-formatter

fix(scripts): skip installs cleanly when deps are missing
  scripts/install-composer.sh
  scripts/install-ntfy.sh
  scripts/install-shellspec.sh
  scripts/install-z.sh
Due: none

feat(starship): truncate parent dirs to first letter
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
Due: none

feat(scripts): add gh-set-profile for git profile auto-detection
  config/sesh/sesh.toml
  local/bin/gh-set-profile
  local/bin/gh-set-profile.md
Due: biome-check, markdown-table-formatter

chore(mise): add tmux to managed tools
  config/mise/config.toml
Due: none

chore(serena): update project.yml to current schema
  .serena/project.yml
Due: none

feat(starship): show go version in prompt
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
Due: none

chore(mise): bump go 1.26.2 → 1.26.3
  .mise.toml
  config/mise/config.toml
Due: none

fix(theme): route watcher via portal off GNOME, seed on start
  config/theme/watcher
Due: none

refactor(theme): extract apply_gsettings_scheme helper
  config/theme/watcher
Due: none

test(theme): cover linux watcher source selection and initial seed
  tests/theme-watcher.bats
Due: none

fix(theme): route watcher via portal off GNOME, seed on start (#369)
  config/theme/watcher
  tests/theme-watcher.bats
Due: none

chore(theme): exclude handler-managed configs from dotbot glob
  config/theme/_lib.sh
  install.conf.yaml
Due: none

feat(vim): set catppuccin_mocha as default colorscheme
  config/vim/autoload/airline/themes/catppuccin_frappe.vim
  config/vim/autoload/airline/themes/catppuccin_latte.vim
  config/vim/autoload/airline/themes/catppuccin_macchiato.vim
  config/vim/autoload/airline/themes/catppuccin_mocha.vim
  config/vim/autoload/lightline/colorscheme/catppuccin_frappe.vim
  config/vim/autoload/lightline/colorscheme/catppuccin_latte.vim
  config/vim/autoload/lightline/colorscheme/catppuccin_macchiato.vim
  config/vim/autoload/lightline/colorscheme/catppuccin_mocha.vim
  config/vim/colors/catppuccin_frappe.vim
  config/vim/colors/catppuccin_latte.vim
  config/vim/colors/catppuccin_macchiato.vim
  config/vim/colors/catppuccin_mocha.vim
  config/vim/colors/pencil.vim
  config/vim/vimrc
Due: none

feat(theme): add catppuccin bat handler
  config/bat/themes/Catppuccin Frappe.tmTheme
  config/bat/themes/Catppuccin Latte.tmTheme
  config/bat/themes/Catppuccin Macchiato.tmTheme
  config/bat/themes/Catppuccin Mocha.tmTheme
  config/theme/handlers.d/bat
  config/theme/palettes.d/bat.dark.config
  config/theme/palettes.d/bat.light.config
Due: none

feat(theme): add catppuccin gitui handler
  config/theme/handlers.d/gitui
  config/theme/palettes.d/gitui.dark.ron
  config/theme/palettes.d/gitui.light.ron
Due: none

feat(theme): add catppuccin yazi handler with mauve accent
  config/mise/config.toml
  config/theme/handlers.d/yazi
  config/theme/palettes.d/yazi.dark.toml
  config/theme/palettes.d/yazi.light.toml
Due: none

feat(theme): switch fzf from everforest to catppuccin
  config/fish/conf.d/fzf-active.fish
  config/fzf/everforest.sh
  config/fzf/fzf.bash
  config/fzf/fzf.zsh
  config/theme/handlers.d/fzf
  config/theme/palettes.d/fzf.dark.fish
  config/theme/palettes.d/fzf.dark.sh
  config/theme/palettes.d/fzf.light.fish
  config/theme/palettes.d/fzf.light.sh
Due: none

feat(theme): add catppuccin gh-dash handler
  config/gh-dash/base.yml
  config/theme/handlers.d/gh-dash
  config/theme/palettes.d/gh-dash.dark.theme.yml
  config/theme/palettes.d/gh-dash.light.theme.yml
Due: none

feat(theme): add catppuccin lazygit handler
  config/lazygit/base.yml
  config/theme/handlers.d/lazygit
  config/theme/palettes.d/lazygit.dark.theme.yml
  config/theme/palettes.d/lazygit.light.theme.yml
Due: none

fix(bat): correct charactger typo in catppuccin tmTheme scope
  config/bat/themes/Catppuccin Frappe.tmTheme
  config/bat/themes/Catppuccin Latte.tmTheme
  config/bat/themes/Catppuccin Macchiato.tmTheme
  config/bat/themes/Catppuccin Mocha.tmTheme
Due: none

ci(megalinter): exclude theme palette files from bash-exec
  .mega-linter.yml
Due: none

chore: v8r as linting step, ignore more vendored files
  .claude/rules/validate-config-schemas.md
  .claude/rules/vendored-files.md
  .pre-commit-config.yaml
  package.json
  yarn.lock
Due: biome-check, markdown-table-formatter

chore: config/user-dirs.*
  config/user-dirs.dirs
Due: none

chore(hosts): twonky wallpaper
  hosts/twonky/wallpaper.png
Due: none

feat(nvim): v0.12+ ui2 enabled
  config/nvim/init.lua
Due: none

feat(claude): add bash-routing and no-schema-guessing rules
  .claude/rules/bash-routing.md
  .claude/rules/no-schema-guessing.md
Due: biome-check, markdown-table-formatter

feat(claude): block Read on secrets files, add permissions.deny
  .claude/hooks/pre-edit-block.sh
  .claude/settings.json
Due: biome-check

docs(audit): record nitpicker passes 10-11
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(claude): add frontmatter to all rules, fix content loopholes
  .claude/rules/commit-format.md
  .claude/rules/context-mode.md
  .claude/rules/editorconfig.md
  .claude/rules/host-specific-config.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/posix-scripts.md
  .claude/rules/secrets-files.md
  .claude/rules/validate-config-schemas.md
  .claude/rules/vendored-files.md
Due: biome-check, markdown-table-formatter

fix(claude): address PR review comments from Copilot and CodeRabbitAI
  .claude/hooks/pre-edit-block.sh
  .claude/rules/context-mode.md
  .claude/rules/no-schema-guessing.md
  .claude/settings.json
Due: biome-check, markdown-table-formatter
