Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

biome-check:
  name: Biome Check
  entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

markdown-table-formatter:
  name: Markdown Table Formatter
  entry: yarn markdown-table-formatter
  language: system

docs(audit): record nitpicker pass 12
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(lint): exclude generated local/md docs, fix gh-set-profile code fence
  .markdownlintignore
  local/bin/gh-set-profile.md
Due: biome-check, markdown-table-formatter

fix(claude): remove *.example.fish secrets-bypass in pre-edit-block.sh
  .claude/hooks/pre-edit-block.sh
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(claude): harden .claude/ hooks, rules, and settings (#376)
  .claude/hooks/pre-edit-block.sh
  .claude/rules/bash-routing.md
  .claude/rules/commit-format.md
  .claude/rules/context-mode.md
  .claude/rules/editorconfig.md
  .claude/rules/host-specific-config.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/no-schema-guessing.md
  .claude/rules/posix-scripts.md
  .claude/rules/secrets-files.md
  .claude/rules/validate-config-schemas.md
  .claude/rules/vendored-files.md
  .claude/settings.json
  .markdownlintignore
  docs/audit/nitpicker-findings.md
  local/bin/gh-set-profile.md
Due: biome-check, markdown-table-formatter

feat(scripts): add usage lint to quality pipeline
  .pre-commit-config.yaml
  package.json
Due: biome-check

feat(scripts): migrate usage specs from .kdl sidecars to inline directives
  scripts/cleanup-old-version-managers.sh
  scripts/cleanup-old-version-managers.sh.usage.kdl
  scripts/create-nvim-keymaps.sh
  scripts/create-nvim-keymaps.sh.usage.kdl
  scripts/create-wezterm-keymaps.sh
  scripts/create-wezterm-keymaps.sh.usage.kdl
  scripts/install-apt-packages.sh
  scripts/install-apt-packages.sh.usage.kdl
  scripts/install-cheat-purebashbible.sh
  scripts/install-cheat-purebashbible.sh.usage.kdl
  scripts/install-completions.sh
  scripts/install-completions.sh.usage.kdl
  scripts/install-composer.sh
  scripts/install-composer.sh.usage.kdl
  scripts/install-dnf-packages.sh
  scripts/install-dnf-packages.sh.usage.kdl
  scripts/install-fonts.sh
  scripts/install-fonts.sh.usage.kdl
  scripts/install-gh-extensions.sh
  scripts/install-gh-extensions.sh.usage.kdl
  scripts/install-macos-defaults.sh
  scripts/install-macos-defaults.sh.usage.kdl
  scripts/install-ntfy.sh
  scripts/install-ntfy.sh.usage.kdl
  scripts/install-python-packages.sh
  scripts/install-python-packages.sh.usage.kdl
  scripts/install-shellspec.sh
  scripts/install-shellspec.sh.usage.kdl
  scripts/install-xcode-cli-tools.sh
  scripts/install-xcode-cli-tools.sh.usage.kdl
  scripts/install-z.sh
  scripts/install-z.sh.usage.kdl
  scripts/shared.sh
  scripts/shared.sh.usage.kdl
  scripts/update-readme-aliases.sh
  scripts/update-readme-aliases.sh.usage.kdl
Due: none

chore(claude): update new-script skill for inline usage spec pattern
  .claude/skills/new-script/SKILL.md
Due: biome-check, markdown-table-formatter

chore(audit): record pass-14 findings in nitpicker-findings.md
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(scripts): address cr review feedback on pr-377
  .claude/skills/new-script/SKILL.md
  .markdownlintignore
  .pre-commit-config.yaml
  local/bin/x-compare-versions.py
  local/bin/x-git-largest-files.py
  local/bin/x-quota-usage.php
Due: biome-check, markdown-table-formatter

chore(scripts): convert x-quota-usage to POSIX shell, disable PHP linters
  .mega-linter.yml
  local/bin/x-quota-usage
  local/bin/x-quota-usage.md
  local/bin/x-quota-usage.php
  local/bin/x-quota-usage.php.md
Due: biome-check, markdown-table-formatter

chore(claude): close 24 nitpicker findings across rules, hooks, install
  .claude/agents/code-reviewer.md
  .claude/hooks/async-bats.sh
  .claude/hooks/log-failures.sh
  .claude/hooks/notify-idle.sh
  .claude/hooks/post-edit-dotbot-validate.sh
  .claude/hooks/post-edit-format.sh
  .claude/hooks/post-edit-rules-lint.sh
  .claude/hooks/pre-edit-block.sh
  .claude/hooks/stop-lint-gate.sh
  .claude/rules/bash-routing.md
  .claude/rules/commit-format.md
  .claude/rules/editorconfig.md
  .claude/rules/host-specific-config.md
  .claude/rules/keymap-descriptions.md
  .claude/rules/lsp-list-parity.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-schema-guessing.md
  .claude/rules/posix-scripts.md
  .claude/rules/validate-config-schemas.md
  .claude/rules/vendored-files.md
  docs/audit/nitpicker-findings.md
  install.conf.yaml
Due: biome-check, markdown-table-formatter

feat(claude): halt on context-mode upgrade or runtime errors
  .claude/hooks/post-tool-context-mode-check.sh
  .claude/rules/context-mode-issues.md
  .claude/settings.json
Due: biome-check, markdown-table-formatter

chore(mise): move npm-installed tooling from package.json to mise
  .pre-commit-config.yaml
  config/mise/config.toml
  package.json
  scripts/create-nvim-keymaps.sh
  test-all.sh
  yarn.lock
Due: biome-check

fix(claude): whitelist ctx_upgrade in context-mode health-check hook
  .claude/hooks/post-tool-context-mode-check.sh
Due: none

chore(mise): pin all 'latest' entries to current resolved versions
  config/mise/config.toml
Due: none

chore(deps): upgrade yarn packages, .yarnrc npmMinimalAgeGate
  .yarnrc.yml
  package.json
  yarn.lock
Due: biome-check

feat(mise): add ntfy via github: backend, remove Brewfile duplicates
  config/homebrew/Brewfile
  config/mise/config.toml
Due: none

feat(dfm): add secrets, cleanup, and check health subcommands
  .gitignore
  config/exports
  config/secrets.d/github.sh.example
  local/bin/dfm
Due: none

fix(github): derive changelog date from release tag name
  .github/tag-changelog-config.js
Due: biome-check

chore(audit): enforce findings structure and add status JSON sidecar
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/nitpicker-status.json
  .claude/rules/audit-findings-structure.md
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(scripts): remove dead install-ntfy.sh script
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
  scripts/install-ntfy.md
  scripts/install-ntfy.sh
Due: biome-check, markdown-table-formatter

fix(dfm): address PR #378 review comments
  local/bin/dfm
Due: none

fix(dfm): use umask 077 for secret-file writes (closes nitpicker N-122)
  local/bin/dfm
Due: none

feat(claude): enforce bash routing with PreToolUse hook
  .claude/hooks/pre-bash-route.sh
  .claude/nitpicker-status.json
  .claude/rules/bash-routing.md
  .claude/rules/context-mode.md
  .claude/rules/no-hook-bypass.md
  .claude/settings.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(claude): BASH_OK escape must strip prefix via updatedInput
  .claude/hooks/pre-bash-route.sh
Due: none

docs(claude): add Read routing discipline rule
  .claude/rules/context-mode.md
  .claude/rules/read-routing.md
Due: biome-check, markdown-table-formatter

chore(mise): add pandoc and ccusage, pin ntfy 2.23.0
  config/mise/config.toml
Due: none

chore(brew): slim Brewfile by dropping unused taps and deps
  config/homebrew/Brewfile
Due: none

chore(dfm): drop --cleanup from brew bundle dump
  local/bin/dfm
Due: none

chore(mise): migrate tools to mise github: backend, add cleanup/check subcommands (#378)
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/hooks/pre-bash-route.sh
  .claude/nitpicker-status.json
  .claude/rules/audit-findings-structure.md
  .claude/rules/bash-routing.md
  .claude/rules/context-mode.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/read-routing.md
  .claude/settings.json
  .github/tag-changelog-config.js
  .gitignore
  config/exports
  config/homebrew/Brewfile
  config/mise/config.toml
  config/secrets.d/github.sh.example
  docs/audit/nitpicker-findings.md
  local/bin/dfm
  scripts/install-ntfy.md
  scripts/install-ntfy.sh
Due: biome-check, markdown-table-formatter

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(dfm): add secrets create subcommand
  config/fish/secrets.d/README.md
  local/bin/dfm
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

test: fix stale tests and stop sql artifact leak
  .gitignore
  tests/x-backup-mysql-with-prefix.bats
  tests/x-path.bats
  tests/x-quota-usage.bats
Due: none

feat(dfm): add secrets list, show, and remove subcommands
  config/fish/secrets.d/README.md
  local/bin/dfm
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

fix(dfm): harden secrets name validation and locale-proof quota test
  local/bin/dfm
  tests/dfm.bats
  tests/x-quota-usage.bats
Due: none

fix(dfm): address PR review — preserve secret whitespace, harden writes
  local/bin/dfm
  tests/dfm.bats
  tests/x-quota-usage.bats
Due: none

feat(dfm): add secrets management subcommands (create/list/show/remove) (#394)
  .gitignore
  config/fish/secrets.d/README.md
  local/bin/dfm
  tests/dfm.bats
  tests/x-backup-mysql-with-prefix.bats
  tests/x-path.bats
  tests/x-quota-usage.bats
Due: biome-check, markdown-table-formatter

refactor(dfm): split into git-style dfm-* subcommands
  local/bin/dfm
  local/bin/dfm-apt
  local/bin/dfm-brew
  local/bin/dfm-check
  local/bin/dfm-cleanup
  local/bin/dfm-docs
  local/bin/dfm-dotfiles
  local/bin/dfm-helpers
  local/bin/dfm-install
  local/bin/dfm-lib
  local/bin/dfm-scripts
  local/bin/dfm-secrets
  local/bin/dfm-tests
  scripts/install-completions.sh
Due: none

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|md)$
  markdown-table-formatter: any of: \.(md|markdown|mdown)$
