Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

feat(fish): add mise version manager integration
  config/fish/conf.d/rustup.fish
  config/fish/config.fish
  config/fish/exports.fish
Due: none

fix(wezterm): adjust font size and window padding
  config/wezterm/wezterm.lua
Due: none

fix(gh): update git protocol to ssh
  .prettierignore
  config/gh/hosts.yml
Due: none

fix(scripts): remove exit-on-error from cargo install script
  scripts/install-cargo-packages.sh
Due: none

fix(skills): wrap long lines in shell-validate skill
  .claude/skills/shell-validate/SKILL.md
Due: biome-check, markdown-table-formatter

build(biome): migrate schema to v2.4.4
  biome.json
Due: biome-check

build(deps): upgrade devDependencies to latest
  package.json
  yarn.lock
Due: biome-check

fix(deps): resolve minimatch to latest 10.x
  package.json
  yarn.lock
Due: biome-check

feat(claude): add fish-validate and lua-format skills
  .claude/settings.json
  .claude/skills/fish-validate/SKILL.md
  .claude/skills/lua-format/SKILL.md
Due: biome-check, markdown-table-formatter

style(fish): reformat phpenv files with fish_indent
  config/fish/completions/phpenv.fish
  config/fish/conf.d/phpenv.fish
  config/fish/functions/phpenv.fish
Due: none

docs: update CLAUDE.md with biome migrate command and gotchas
  CLAUDE.md
Due: biome-check, markdown-table-formatter

chore(config): sesh config additions
  config/sesh/sesh.toml
Due: none

feat(bin): add x-visit-folders script for bulk zoxide registration
  local/bin/x-visit-folders
  local/bin/x-visit-folders.md
Due: biome-check, markdown-table-formatter

fix(bin): fix x-visit-folders usage exit code, no-op fallback, and count increment
  local/bin/x-visit-folders
Due: none

feat(bin): add x-visit-folders script for bulk zoxide registration (#294)
  local/bin/x-visit-folders
  local/bin/x-visit-folders.md
Due: biome-check, markdown-table-formatter

feat(scripts): add shellspec installation to dfm
  local/bin/dfm
  scripts/install-shellspec.sh
Due: none

fix(scripts): address PR review feedback for shellspec installer
  scripts/install-shellspec.md
  scripts/install-shellspec.sh
Due: biome-check, markdown-table-formatter

fix(scripts): pin shellspec install to latest release tag
  scripts/install-shellspec.sh
Due: none

docs(scripts): update shellspec docs to reflect release-tag pinning
  scripts/install-shellspec.md
Due: biome-check, markdown-table-formatter

feat(scripts): add shellspec installation to dfm (#296)
  local/bin/dfm
  scripts/install-shellspec.md
  scripts/install-shellspec.sh
Due: biome-check, markdown-table-formatter

refactor(pre-commit): use local prettier hook for YAML
  .pre-commit-config.yaml
Due: none

chore: remove AGENTS.md in favor of CLAUDE.md
  AGENTS.md
Due: biome-check, markdown-table-formatter

chore(claude): add stylua hook, skills, agents, and update docs
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .claude/skills/yaml-validate/SKILL.md
  CLAUDE.md
Due: biome-check, markdown-table-formatter

refactor(fish): rename open-tmux function to .t
  config/fish/functions/.t.fish
Due: none

feat(fish): disable greeting and add GITHUB_TOKEN warning
  config/fish/config.fish
Due: none

fix(fish): correct XDG_SHARE_HOME to XDG_DATA_HOME in exports
  config/fish/exports.fish
Due: none

chore(fish): remove paths plugin
  config/fish/conf.d/paths.fish
  config/fish/functions/paths.fish
Due: none

feat(fish): add bass plugin
  config/fish/fish_plugins
Due: none

fix(ci): remove master branch and add Thursday to schedules
  .github/workflows/linters.yml
  .github/workflows/update-submodules.yml
Due: none

chore(git): update ignore patterns and use HEAD in reset aliases
  .prettierignore
  config/git/ignore
  config/git/shared
Due: none

refactor(nvim): clean up config and remove nvm-default plugin
  config/nvim/init.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/nvm-default/init.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/blink.lua
  config/nvim/lua/plugins/code.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/ui.lua
  config/nvim/lua/utils.lua
Due: none

chore: general maintenance and cleanup (#306)
  .claude/agents/code-reviewer.md
  .claude/settings.json
  .claude/skills/yaml-validate/SKILL.md
  .github/workflows/linters.yml
  .github/workflows/update-submodules.yml
  .pre-commit-config.yaml
  .prettierignore
  AGENTS.md
  CLAUDE.md
  config/fish/conf.d/paths.fish
  config/fish/config.fish
  config/fish/exports.fish
  config/fish/fish_plugins
  config/fish/functions/.t.fish
  config/fish/functions/paths.fish
  config/git/ignore
  config/git/shared
  config/nvim/init.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/nvm-default/init.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/blink.lua
  config/nvim/lua/plugins/code.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/ui.lua
  config/nvim/lua/utils.lua
  yarn.lock
Due: biome-check, markdown-table-formatter

fix(fish): use $HOME instead of hardcoded path in rustup.fish
  config/fish/conf.d/rustup.fish
Due: none

feat(fish): add dotnet tools to PATH
  config/fish/exports.fish
Due: none

feat(fish): add kubectl and orbctl completions
  config/fish/completions/kubectl.fish
  config/fish/completions/orbctl.fish
Due: none

update(fish): add dark-mode section to Catppuccin themes
  config/fish/themes/Catppuccin Frappe.theme
  config/fish/themes/Catppuccin Macchiato.theme
  config/fish/themes/Catppuccin Mocha.theme
Due: none

feat(tmux): enable allow-passthrough for terminal queries
  config/tmux/tmux.conf
Due: none

feat(git): add host-specific git ignore and excludesfile
  config/git/overrides/.gitignore
  hosts/s/config/git/overrides/config
  hosts/s/config/git/overrides/ignore
Due: none

style(karabiner): reformat karabiner.json
  config/karabiner/karabiner.json
Due: biome-check

feat(shell): align fish, bash, and zsh shell configurations
  config/alias
  config/exports
  config/fish/alias.fish
  config/fish/exports.fish
Due: none
