Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

fix: two macOS portability bugs the new tests caught on CI
  local/bin/git-attributes
  local/bin/x-ssh-audit
  tests/git-attributes.bats
Due: none

feat(claude): swap graphify hook-guard for a local nudge script
  .claude/hooks/pre-graphify-nudge.sh
  .claude/rules/graphify-first.md
  .claude/settings.json
Due: biome-check, markdown-table-formatter

fix(lint): skip markdown when scanning local/bin for usage specs
  .pre-commit-config.yaml
  package.json
Due: biome-check

docs(claude): trim derivable guidance and scope it by directory
  .claude/rules/editorconfig.md
  .claude/rules/run-tests-before-commit.md
  CLAUDE.md
  config/theme/CLAUDE.md
  local/bin/CLAUDE.md
Due: biome-check, markdown-table-formatter

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(git): add cleanup alias for git-cleanup-squashed
  config/git/config
Due: none

chore(ssh): add new ed25519 signing key to allowed_signers
  ssh/allowed_signers
Due: none

chore(hosts): s global gitignore
  hosts/s/config/git/overrides/ignore
Due: none

chore(mise): update trusted folders
  config/mise/config.toml
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(mise): update repo mise.toml, add mise.lock
  .mise.toml
  mise.lock
Due: none

chore(ssh): update allowed_signers
  ssh/allowed_signers
Due: none

chore(audit): record findings from full repository audit
  docs/audit/findings/.gitignore
  docs/audit/findings/INDEX.md
  docs/audit/findings/audit/open/audit-442aa6d9.md
  docs/audit/findings/audit/open/audit-b6c73124.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

fix(pushover): pass curl arguments as argv instead of eval
  local/bin/pushover
  tests/pushover.bats
Due: none

fix(scripts): anchor USAGE detection in doc generation
  scripts/install-completions.sh
Due: none

fix(mise): pin bandit so CI can run yarn lint:bandit
  .mise.toml
Due: none

fix(install): create XDG runtime and state dirs 0700
  dotbot-links.yaml
  local/bin/dfm-check
Due: none

docs(license): add NOTICE for vendored third-party code
  CLAUDE.md
  LICENSE
  NOTICE
Due: biome-check, markdown-table-formatter

ci(pre-commit): add bandit hook and widen ruff-format to markdown
  .pre-commit-config.yaml
Due: none

fix(hooks): stop bash-router bypasses and allow git status
  .claude/hooks/pre-bash-route.sh
  tests/pre-bash-route.bats
Due: none

ci(bandit): add Python SAST to the yarn lint chain
  config/mise/config.toml
  docs/commands.md
  package.json
  pyproject.toml
Due: biome-check, markdown-table-formatter

ci(codacy): exclude vendored and third-party trees from analysis
  .codacy.yml
Due: none

docs(copilot): correct the workflow table
  .github/copilot-instructions.md
Due: biome-check, markdown-table-formatter

refactor(shell): drop the unused array_diff helper
  config/shared.sh
Due: none

docs(rules): correct the yarn gate list and reformat snippets
  .claude/rules/bash-routing.md
  .claude/rules/read-routing.md
Due: biome-check, markdown-table-formatter

chore: remove the dead semantic-release config
  .github/copilot-instructions.md
  .releaserc.json
Due: biome-check, markdown-table-formatter

ci(commitlint): enforce the commit convention at commit-msg
  .claude/rules/commit-format.md
  .pre-commit-config.yaml
Due: biome-check, markdown-table-formatter

fix(hooks): block edits to vendored fish plugin functions
  .claude/hooks/pre-edit-block.sh
  .claude/rules/vendored-files.md
Due: biome-check, markdown-table-formatter

fix(theme): serialise stale-lock breaking so one watcher wins
  config/theme/_lib.sh
  tests/theme-watcher.bats
Due: none

build(yarn): close the git-dependency and postinstall surface
  .yarnrc.yml
Due: none

test(hooks): cover the agent enforcement chain
  tests/claude-hooks-misc.bats
  tests/post-edit-rules-lint.bats
  tests/post-tool-context-mode-check.bats
  tests/pre-ctx-write-guard.bats
  tests/pre-edit-block.bats
  tests/stop-lint-gate.bats
Due: none

fix(hooks): allow git rebase through the bash router
  .claude/hooks/pre-bash-route.sh
  .claude/rules/bash-routing.md
  tests/pre-bash-route.bats
Due: biome-check, markdown-table-formatter

fix(hooks): tell the reader to confirm a context-mode signal
  .claude/hooks/post-tool-context-mode-check.sh
  .claude/rules/context-mode-issues.md
  tests/post-tool-context-mode-check.bats
Due: biome-check, markdown-table-formatter

fix(tests): declare the bats version needed for flagged run
  tests/x-macos.bats
Due: none

chore(audit): resolve the hook-coverage and commitlint findings
  docs/audit/findings/INDEX.md
  docs/audit/findings/audit/open/audit-b6c73124.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

fix(mise): untrack mise.lock to unbreak the Tests workflow
  .gitignore
  mise.lock
Due: none

fix(hooks): stop a router hang and three more bypasses
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/rules/bash-routing.md
  tests/pre-bash-route.bats
  tests/pre-ctx-write-guard.bats
Due: biome-check, markdown-table-formatter

fix(pushover): send form values literally with --form-string
  local/bin/pushover
  tests/pushover.bats
Due: none
