Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

fix(shell): stop aliasing vim to nvim
  config/alias
  config/fish/alias.fish
  docs/aliases.md
Due: biome-check, markdown-table-formatter

fix(vim): point the vim-plug bootstrap at the runtimepath
  config/vim/vimrc
Due: none

fix(vim): run markdownlint from the project root
  config/vim/ale_linters/markdown/markdownlint_root.vim
  config/vim/vimrc
Due: none

feat(vim): mirror the nvim keymaps
  config/vim/after/mappings.vim
  config/vim/after/plugin/autocmd.vim
  config/vim/after/plugin/mappings.vim
  config/vim/after/plugin/ui.vim
  config/vim/after/settings.vim
  config/vim/vimrc
Due: none

feat(vim): add a which-key guide with mini.clue labels
  config/vim/autoload/miniclue.vim
  config/vim/vimrc
  scripts/generate-vim-clues.md
  scripts/generate-vim-clues.py
  tests/generate-vim-clues.bats
Due: biome-check, markdown-table-formatter

feat(vim): set the cursor shape per mode
  config/vim/vimrc
Due: none

fix(lint): pass bandit an explicit --ini
  .bandit
  package.json
Due: biome-check

fix(x-git-largest-files): give the git call its own line
  local/bin/x-git-largest-files.py
Due: none

refactor: drop the vendored fzf and iTerm2 files
  .claude/agents/code-reviewer.md
  .claude/hooks/lib/protected-paths.sh
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/rules/vendored-files.md
  .claude/skills/shell-validate/SKILL.md
  .codacy.yml
  .editorconfig-checker.json
  .exclusion-baseline.json
  .github/codeql/codeql-config.yml
  .github/copilot-instructions.md
  .gitignore
  .mega-linter.yml
  .pre-commit-config.yaml
  .prettierignore
  .sonarcloud.properties
  .yamlignore
  CLAUDE.md
  biome.json
  config/fzf/completion.bash
  config/fzf/completion.zsh
  config/fzf/fzf.bash
  config/fzf/fzf.zsh
  config/fzf/key-bindings.bash
  config/fzf/key-bindings.fish
  config/fzf/key-bindings.zsh
  config/zsh/antidote_plugins.txt
  docs/audit/arch-profile.md
  docs/cli-essentials.md
  local/bin/fzf-tmux
  local/bin/fzf-tmux.md
  local/bin/fzf.md
  local/bin/iterm2_shell_integration.zsh
  local/bin/iterm2_shell_integration.zsh.md
  local/man/man1/fzf-tmux.1
  local/man/man1/fzf.1
  tests/pre-bash-route.bats
  tests/pre-ctx-write-guard.bats
  tests/pre-edit-block.bats
  tests/protected-paths-parity.bats
Due: biome-check, markdown-table-formatter

chore(config): remove the act, husky and amethyst configs
  .gitattributes
  config/act/actrc
  config/amethyst/amethyst.yml
  config/amethyst/layouts/almost-maximize.js
  config/husky/init.sh
Due: biome-check

chore(exports): drop variables nothing reads
  config/exports
  config/fish/exports.fish
  hosts/lakka/config/exports-lakka
Due: none

docs(notice): update third-party licensing
  LICENSE
  NOTICE
Due: none

fix(tests): make the suite pass from the commit hook
  .pre-commit-config.yaml
  tests/claude-hooks-misc.bats
  tests/git-dirty.bats
  tests/install-completions.bats
  tests/x-codeql.bats
  tests/x-git-largest-files.bats
Due: none

fix(python): target py312 so scripts parse on the CI interpreter
  pyproject.toml
  scripts/generate-vim-clues.py
Due: none

feat(theme): add kanagawa wave and lotus AA palettes
  NOTICE
  config/bat/themes/Kanagawa Lotus AA.tmTheme
  config/bat/themes/Kanagawa Wave.tmTheme
  config/fish/themes/kanagawa-aa.theme
  config/television/themes/kanagawa-lotus-aa.toml
  config/television/themes/kanagawa-wave.toml
  config/theme/palettes.d/kanagawa/dark/bat.theme
  config/theme/palettes.d/kanagawa/dark/dircolors
  config/theme/palettes.d/kanagawa/dark/eza.yml
  config/theme/palettes.d/kanagawa/dark/fzf.fish
  config/theme/palettes.d/kanagawa/dark/fzf.sh
  config/theme/palettes.d/kanagawa/dark/gh-dash.theme.yml
  config/theme/palettes.d/kanagawa/dark/gitui.ron
  config/theme/palettes.d/kanagawa/dark/starship.toml
  config/theme/palettes.d/kanagawa/dark/television.toml
  config/theme/palettes.d/kanagawa/dark/tmux.conf
  config/theme/palettes.d/kanagawa/dark/tmux.thm.conf
  config/theme/palettes.d/kanagawa/dark/yazi.toml
  config/theme/palettes.d/kanagawa/light/bat.theme
  config/theme/palettes.d/kanagawa/light/dircolors
  config/theme/palettes.d/kanagawa/light/eza.yml
  config/theme/palettes.d/kanagawa/light/fzf.fish
  config/theme/palettes.d/kanagawa/light/fzf.sh
  config/theme/palettes.d/kanagawa/light/gh-dash.theme.yml
  config/theme/palettes.d/kanagawa/light/gitui.ron
  config/theme/palettes.d/kanagawa/light/starship.toml
  config/theme/palettes.d/kanagawa/light/television.toml
  config/theme/palettes.d/kanagawa/light/tmux.conf
  config/theme/palettes.d/kanagawa/light/tmux.thm.conf
  config/theme/palettes.d/kanagawa/light/yazi.toml
Due: none

feat(nvim): add kanagawa colorscheme
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/init.lua
  config/nvim/nvim-pack-lock.json
Due: biome-check, markdown-table-formatter

feat(vim): add kanagawa colorschemes
  config/vim/autoload/airline/themes/kanagawa_lotus.vim
  config/vim/autoload/airline/themes/kanagawa_wave.vim
  config/vim/colors/kanagawa_lotus.vim
  config/vim/colors/kanagawa_wave.vim
  config/vim/vimrc
Due: none

feat(wezterm): add kanagawa color schemes
  config/wezterm/wezterm.lua
Due: none

feat(cosmic-desktop): add kanagawa themes
  config/cosmic-desktop/README.md
  config/cosmic-desktop/themes/cosmic-settings/kanagawa-lotus-aa+round.ron
  config/cosmic-desktop/themes/cosmic-settings/kanagawa-wave+round.ron
  config/cosmic-desktop/themes/cosmic-term/kanagawa-lotus-aa.ron
  config/cosmic-desktop/themes/cosmic-term/kanagawa-wave.ron
Due: biome-check, markdown-table-formatter

test(theme): compute kanagawa contrast and cover family resolvers
  tests/theme-contrast.bats
  tests/theme-family-resolvers.bats
Due: none

ci(tests): install tmux and yamllint for the bats job
  .github/workflows/tests.yml
Due: none

docs(plans): add the kanagawa theme-family plan
  docs/plans/2026-09-30-kanagawa-theme-families.md
Due: biome-check, markdown-table-formatter

chore(gitignore): ignore claude code's scheduler lock
  .gitignore
Due: none

feat(tests): summarise and annotate failing bats tests
  .claude/rules/run-tests-before-commit.md
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  docs/commands.md
  scripts/bats-run.sh
  test-all.sh
  tests/bats-run.bats
Due: biome-check, markdown-table-formatter

test(theme): isolate the vim resolver tests from vim-plug bootstrap
  tests/theme-family-resolvers.bats
Due: none

test(hooks): keep the dotbot "missing parser" test off the system PATH
  tests/claude-hooks-misc.bats
Due: none

test(tests): build the bats-run fixture without a heredoc
  tests/bats-run.bats
Due: none

fix(theme): drop kanagawa's separate gutter background
  config/nvim/init.lua
  config/vim/colors/kanagawa_lotus.vim
  config/vim/colors/kanagawa_wave.vim
Due: none

feat(git): verify ssh signatures against allowed_signers
  config/git/config
Due: none

chore(herdr): turn off theme auto_switch
  config/herdr/config.toml
Due: none

docs(audit): record the kanagawa audit's resolved findings
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

test(x-git-root): accept a worktree's .git file
  tests/x-git-root.bats
Due: none

test(x-git-root): accept a worktree's .git file (#742)
  tests/x-git-root.bats
Due: none

fix(claude): deny protected redirects when shfmt emits numeric operators
  .claude/hooks/lib/bash-policy.sh
  tests/pre-bash-route.bats
Due: none

ci(tests): install pinned shfmt 3.14.1 for the policy-hook tests
  .github/workflows/tests.yml
Due: none

fix(claude): close policy-hook bypasses and judge batch commands apart
  .claude/hooks/lib/bash-policy.sh
  .claude/hooks/lib/protected-paths.sh
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/hooks/pre-edit-block.sh
  .claude/rules/bash-routing.md
  .claude/rules/context-mode.md
  .claude/rules/git-hunk-commits.md
  .claude/rules/mise-packages.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/secrets-files.md
  .claude/rules/vendored-files.md
  .claude/settings.json
  tests/pre-bash-route.bats
  tests/pre-ctx-write-guard.bats
  tests/pre-edit-block.bats
Due: biome-check, markdown-table-formatter

fix(claude): close four policy bypasses from review
  .claude/hooks/lib/bash-policy.sh
  .claude/rules/no-hook-bypass.md
  tests/pre-bash-route.bats
  tests/pre-ctx-write-guard.bats
Due: biome-check, markdown-table-formatter

fix(claude): never read git message text as a command
  .claude/hooks/lib/bash-policy.sh
  .claude/rules/no-hook-bypass.md
  tests/pre-bash-route.bats
Due: biome-check, markdown-table-formatter
