Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

docs(dfm): document command-split design and architecture
  CLAUDE.md
  docs/superpowers/specs/2026-06-02-dfm-command-split-design.md
Due: biome-check, markdown-table-formatter

docs(audit): record dfm command-split nitpicker findings
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(fish): add aspire CLI bin to PATH
  config/fish/config.fish
Due: none

fix(dfm): address PR review feedback
  docs/superpowers/specs/2026-06-02-dfm-command-split-design.md
  local/bin/dfm-apt
  local/bin/dfm-brew
  local/bin/dfm-check
  local/bin/dfm-cleanup
  local/bin/dfm-docs
  local/bin/dfm-dotfiles
  local/bin/dfm-helpers
  local/bin/dfm-install
  local/bin/dfm-scripts
  local/bin/dfm-secrets
  local/bin/dfm-tests
  scripts/install-completions.sh
Due: biome-check, markdown-table-formatter

fix(dfm): halt 'dotfiles shfmt' when fd or shfmt is missing
  local/bin/dfm-dotfiles
Due: none

refactor(dfm): split dfm into git-style dfm-* subcommands (#405)
  .claude/nitpicker-status.json
  CLAUDE.md
  config/fish/config.fish
  docs/audit/nitpicker-findings.md
  docs/superpowers/specs/2026-06-02-dfm-command-split-design.md
  local/bin/dfm
  local/bin/dfm-apt
  local/bin/dfm-brew
  local/bin/dfm-check
  local/bin/dfm-cleanup
  local/bin/dfm-docs
  local/bin/dfm-dotfiles
  local/bin/dfm-helpers
  local/bin/dfm-install
  local/bin/dfm-lib
  local/bin/dfm-scripts
  local/bin/dfm-secrets
  local/bin/dfm-tests
  scripts/install-completions.sh
Due: biome-check, markdown-table-formatter

chore(brew): remove dotnet@8, handled by mise
  config/homebrew/Brewfile
Due: none

feat(shell): add centralized logging library (config/lib.sh)
  CLAUDE.md
  config/lib.sh
  config/shared.sh
  scripts/cleanup-old-version-managers.sh
  scripts/install-completions.sh
  scripts/install-composer.sh
  tests/lib.bats
Due: biome-check, markdown-table-formatter

perf(dfm): speed up listing and fix tool-gated section output
  CLAUDE.md
  local/bin/dfm
  local/bin/dfm-apt
  local/bin/dfm-brew
  local/bin/dfm-check
  local/bin/dfm-cleanup
  local/bin/dfm-docs
  local/bin/dfm-dotfiles
  local/bin/dfm-helpers
  local/bin/dfm-install
  local/bin/dfm-lib
  local/bin/dfm-scripts
  local/bin/dfm-secrets
  local/bin/dfm-tests
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

feat(tmux): document all keybindings and annotate custom binds
  config/tmux/tmux.conf
  docs/tmux-keybindings.md
  local/bin/dfm-docs
  local/bin/x-dfm-docs-tmux-keybindings
  local/bin/x-dfm-docs-tmux-keybindings.md
  local/bin/x-dfm-docs-xterm-keybindings
  local/bin/x-dfm-docs-xterm-keybindings.md
Due: biome-check, markdown-table-formatter

feat(tmux): use vi keys in copy mode for hjkl motions
  config/tmux/tmux.conf
Due: none

fix(shell): lib.sh portability fixes and arg-validation hardening
  .claude/nitpicker-status.json
  CLAUDE.md
  config/lib.sh
  docs/audit/nitpicker-findings.md
  scripts/cleanup-old-version-managers.sh
  scripts/create-nvim-keymaps.sh
  tests/lib.bats
Due: biome-check, markdown-table-formatter

feat: shell logging library, dfm speedups, tmux keybinding docs (#411)
  .claude/nitpicker-status.json
  CLAUDE.md
  config/lib.sh
  config/shared.sh
  config/tmux/tmux.conf
  docs/audit/nitpicker-findings.md
  docs/tmux-keybindings.md
  local/bin/dfm
  local/bin/dfm-apt
  local/bin/dfm-brew
  local/bin/dfm-check
  local/bin/dfm-cleanup
  local/bin/dfm-docs
  local/bin/dfm-dotfiles
  local/bin/dfm-helpers
  local/bin/dfm-install
  local/bin/dfm-lib
  local/bin/dfm-scripts
  local/bin/dfm-secrets
  local/bin/dfm-tests
  local/bin/x-dfm-docs-tmux-keybindings
  local/bin/x-dfm-docs-tmux-keybindings.md
  local/bin/x-dfm-docs-xterm-keybindings
  local/bin/x-dfm-docs-xterm-keybindings.md
  scripts/cleanup-old-version-managers.sh
  scripts/create-nvim-keymaps.sh
  scripts/install-completions.sh
  scripts/install-composer.sh
  tests/dfm.bats
  tests/lib.bats
Due: biome-check, markdown-table-formatter

fix(claude): close 5 nitpicker findings across hooks, scripts, starship
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/hooks/post-tool-context-mode-check.sh
  .claude/nitpicker-status.json
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
  docs/audit/nitpicker-findings.md
  scripts/create-nvim-keymaps.sh
Due: biome-check, markdown-table-formatter

fix(nitpicker): close N-147, N-148, N-149 from pass 27
  .claude/nitpicker-status.json
  config/zsh/completion/_dfm
  docs/audit/nitpicker-findings.md
  local/bin/x-gh-get-latest-version
  tests/x-gh-get-latest-version.bats
Due: biome-check, markdown-table-formatter

chore(deps): upgrade actions
  .github/workflows/linters.yml
  .github/workflows/sync-labels.yml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(nvim): migrate from lazy.nvim to vim.pack
  config/nvim/.luarc.json
  config/nvim/init.lua
  config/nvim/lsp/ansiblels.lua
  config/nvim/lsp/bashls.lua
  config/nvim/lsp/cssls.lua
  config/nvim/lsp/dockerls.lua
  config/nvim/lsp/eslint.lua
  config/nvim/lsp/fish_lsp.lua
  config/nvim/lsp/gopls.lua
  config/nvim/lsp/html.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/jsonls.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/pyright.lua
  config/nvim/lsp/tailwindcss.lua
  config/nvim/lsp/taplo.lua
  config/nvim/lsp/terraformls.lua
  config/nvim/lsp/ts_ls.lua
  config/nvim/lsp/vimls.lua
  config/nvim/lsp/yamlls.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/qa.lua
  config/nvim/lua/plugins/tools.lua
  config/nvim/lua/plugins/treesitter.lua
  config/nvim/lua/plugins/ui.lua
  config/nvim/nvim-pack-lock.json
Due: biome-check

feat(nvim): add pack management commands
  config/nvim/lua/pack.lua
Due: none

docs(nvim): update CLAUDE.md and README for vim.pack architecture
  config/nvim/CLAUDE.md
  config/nvim/README.md
Due: biome-check, markdown-table-formatter

chore(nvim): update audit findings and lsp-list-parity rule
  .claude/nitpicker-status.json
  .claude/rules/lsp-list-parity.md
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(nvim): apply nitpicker pass 30 fixes (N-167, N-168, N-169)
  .claude/rules/lsp-list-parity.md
  config/nvim/lua/autogroups.lua
  config/nvim/lua/pack.lua
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(nvim): address PR #414 review comments
  .claude/nitpicker-status.json
  .claude/rules/lsp-list-parity.md
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/init.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/pack.lua
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(nvim): apply nitpicker pass 32 fixes (N-173, N-174, N-175)
  .claude/nitpicker-status.json
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(nvim): guard _path_prepend against nil vim.env.PATH
  config/nvim/init.lua
Due: none

feat(nvim): migrate treesitter parser manager to arborist.nvim
  config/nvim/CLAUDE.md
  config/nvim/init.lua
  config/nvim/lua/autogroups.lua
  config/nvim/nvim-pack-lock.json
Due: biome-check, markdown-table-formatter

feat(nvim): migrate from lazy.nvim to vim.pack (#414)
  .claude/nitpicker-status.json
  .claude/rules/lsp-list-parity.md
  config/nvim/.luarc.json
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/init.lua
  config/nvim/lsp/ansiblels.lua
  config/nvim/lsp/bashls.lua
  config/nvim/lsp/cssls.lua
  config/nvim/lsp/dockerls.lua
  config/nvim/lsp/eslint.lua
  config/nvim/lsp/fish_lsp.lua
  config/nvim/lsp/gopls.lua
  config/nvim/lsp/html.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/jsonls.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/pyright.lua
  config/nvim/lsp/tailwindcss.lua
  config/nvim/lsp/taplo.lua
  config/nvim/lsp/terraformls.lua
  config/nvim/lsp/ts_ls.lua
  config/nvim/lsp/vimls.lua
  config/nvim/lsp/yamlls.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/pack.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/qa.lua
  config/nvim/lua/plugins/tools.lua
  config/nvim/lua/plugins/treesitter.lua
  config/nvim/lua/plugins/ui.lua
  config/nvim/nvim-pack-lock.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(deps): track uv.lock
  uv.lock
Due: none

fix(config): address SonarCloud issues in shell libraries
  config/lib.sh
  config/shared.sh
  config/theme/_lib.sh
Due: none

fix(hooks): address SonarCloud issues in Claude Code hooks
  .claude/hooks/async-bats.sh
  .claude/hooks/log-failures.sh
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/hooks/post-edit-config-warn.sh
  .claude/hooks/post-edit-dotbot-validate.sh
  .claude/hooks/post-edit-format.sh
  .claude/hooks/post-edit-rules-lint.sh
  .claude/hooks/post-tool-context-mode-check.sh
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-edit-block.sh
Due: none

fix(scripts): address SonarCloud issues in install scripts
  scripts/cleanup-old-version-managers.sh
  scripts/install-completions.sh
  scripts/install-fonts.sh
Due: none

fix(bin): add total_ordering to Blob for complete comparison API
  local/bin/x-git-largest-files.py
Due: none

fix(config): update msg_err() comment to reflect return 1 behavior
  config/shared.sh
Due: none

fix(theme,lib,scripts,hooks): address nitpicker Pass 33 findings
  .claude/hooks/pre-bash-route.sh
  .claude/nitpicker-status.json
  config/lib.sh
  config/theme/_lib.sh
  docs/audit/nitpicker-findings.md
  local/bin/x-git-largest-files.py
Due: biome-check, markdown-table-formatter

fix(nvim): address nitpicker Pass 34 findings
  .claude/nitpicker-status.json
  config/nvim/init.lua
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix: address all 59 SonarCloud open issues (#415)
  .claude/hooks/async-bats.sh
  .claude/hooks/log-failures.sh
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/hooks/post-edit-config-warn.sh
  .claude/hooks/post-edit-dotbot-validate.sh
  .claude/hooks/post-edit-format.sh
  .claude/hooks/post-edit-rules-lint.sh
  .claude/hooks/post-tool-context-mode-check.sh
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-edit-block.sh
  .claude/nitpicker-status.json
  config/lib.sh
  config/nvim/init.lua
  config/shared.sh
  config/theme/_lib.sh
  docs/audit/nitpicker-findings.md
  local/bin/x-git-largest-files.py
  scripts/cleanup-old-version-managers.sh
  scripts/install-completions.sh
  scripts/install-fonts.sh
Due: biome-check, markdown-table-formatter

refactor(mise): reorganize tools by function, drop terraform stack
  config/mise/config.toml
Due: none

feat(mise): add gopass password manager
  config/mise/config.toml
Due: none

chore(git): ignore stray exported GPG public keys
  .gitignore
Due: none

feat(alias): add p shortcut for gopass
  config/alias
  config/fish/alias.fish
Due: none
