Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

feat(theme): derive dircolors.light with low-palette remap
  config/theme/palettes.d/dircolors.light
Due: none

feat(theme): add tmux handler
  config/theme/handlers.d/tmux
  tests/theme-handlers.bats
Due: none

feat(theme): add starship handler
  config/theme/handlers.d/starship
  tests/theme-handlers.bats
Due: none

feat(theme): add dircolors handler that builds LS_COLORS cache
  config/theme/handlers.d/dircolors
  tests/theme-handlers.bats
Due: none

feat(theme): add fish handler (persists Catppuccin variant)
  config/theme/handlers.d/fish
  tests/theme-handlers.bats
Due: none

feat(theme): rewire fish theme-switch to watch mode state file
  config/fish/conf.d/theme-switch.fish
Due: none

feat(theme): spawn watcher + bootstrap from fish config.fish
  config/fish/config.fish
Due: none

feat(theme): bootstrap orchestrator + spawn watcher from config/exports
  config/exports
Due: none

feat(theme): replace tmux run-shell daemons with orchestrator bootstrap
  config/tmux/tmux.conf
Due: none

fix(theme): use fish-native string parsing for LS_COLORS cache
  config/fish/conf.d/theme-switch.fish
Due: none

refactor(theme): remove obsolete tmux theme machinery
  config/tmux/_apply-theme.sh
  config/tmux/linux-dark-notify.sh
  config/tmux/macos-dark-notify.sh
  config/tmux/theme-activate.sh
Due: none

refactor(theme): remove obsolete palette source files
  config/dircolors
  config/starship/starship-dark.toml
  config/starship/starship-light.toml
  config/tmux/theme-dark.conf
  config/tmux/theme-light.conf
Due: none

docs: replace obsolete tmux-coupled theme refs with orchestrator
  .github/copilot-instructions.md
  CLAUDE.md
  base/bashrc
  base/zshrc
  config/fish/config.fish
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
Due: biome-check, markdown-table-formatter

docs(audit): mark N-010 fixed by theme orchestrator (Pass 3)
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(theme): wrap long comment in fish config.fish to satisfy 120-char limit
  config/fish/config.fish
Due: none

fix(tmux): bootstrap handler directly to bypass apply guard
  config/tmux/tmux.conf
Due: none

chore: ignore cr.md across lint pipelines and git
  .ecrc
  .gitignore
  .markdownlintignore
  biome.json
Due: biome-check

docs(theme): correct theme_mode comment header
  config/exports
Due: none

feat(theme): theme-reapply helper + non-interactive bootstrap guard
  config/exports
  config/fish/functions/theme-reapply.fish
Due: none

fix(theme): use return + seed mtime in conf.d/theme-switch.fish
  config/fish/conf.d/theme-switch.fish
Due: none

style(fish): inline disown after watcher fork
  config/fish/config.fish
Due: none

fix(theme): harden apply against missing timeout(1)
  config/theme/_lib.sh
  config/theme/apply
Due: none

fix(theme): treat empty dircolors output as fatal
  config/theme/handlers.d/dircolors
Due: none

fix(theme): handle /dev/tty canonical mode in probe-osc11
  config/theme/probe-osc11
Due: none

fix(theme): anchor watcher color-scheme match on JSON v:1/v:2 tokens
  config/theme/watcher
Due: none

feat(theme): add @description, msgr, and sidecars to theme-mode
  local/bin/theme-mode
  local/bin/theme-mode.md
  local/bin/theme-mode.usage.kdl
Due: biome-check, markdown-table-formatter

test(theme): skip handler tests when timeout(1) or dircolors missing
  tests/theme-handlers.bats
  tests/theme-watcher.bats
Due: none

feat(theme): eza handler with catppuccin-green palettes
  .prettierignore
  config/eza/theme.yml
  config/theme/handlers.d/eza
  config/theme/palettes.d/eza.dark.yml
  config/theme/palettes.d/eza.light.yml
  tests/theme-handlers.bats
Due: none

style(theme): align dircolors palettes with eza catppuccin-green
  config/theme/palettes.d/dircolors.dark
  config/theme/palettes.d/dircolors.light
Due: none

docs: markdownlint nits in audit + plan files
  docs/audit/nitpicker-findings.md
  docs/superpowers/plans/2026-04-27-theme-orchestrator-implementation.md
Due: biome-check, markdown-table-formatter

fix(theme): address CodeRabbit review nits (success gating, ln-sf breadcrumb, MD031)
  config/fish/functions/theme-reapply.fish
  config/theme/_lib.sh
  docs/superpowers/plans/2026-04-27-theme-orchestrator-implementation.md
Due: biome-check, markdown-table-formatter

chore(git): un-ignore docs/superpowers/ at the repo level
  .gitignore
Due: none

fix(theme): _atomic_write temp cleanup + macOS prose capitalization
  config/theme/_lib.sh
  docs/superpowers/plans/2026-04-27-theme-orchestrator-implementation.md
Due: biome-check, markdown-table-formatter

chore(docs): old superpowers plans and specs
  docs/superpowers/plans/2026-03-27-nvim-config-trim.md
  docs/superpowers/plans/2026-03-27-nvim-optimize-round2.md
  docs/superpowers/plans/2026-03-30-native-lsp-and-folds.md
  docs/superpowers/plans/2026-04-07-usage-completions-plan.md
  docs/superpowers/specs/2026-03-27-nvim-config-trim-design.md
  docs/superpowers/specs/2026-03-27-nvim-optimize-round2-design.md
  docs/superpowers/specs/2026-03-30-native-lsp-and-folds-design.md
  docs/superpowers/specs/2026-04-07-usage-completions-design.md
  docs/superpowers/specs/2026-04-27-theme-orchestrator-design.md
Due: biome-check, markdown-table-formatter

fix(nvim): address nitpicker pass-4 audit findings (N-034..N-042)
  .gitignore
  config/nvim/CLAUDE.md
  config/nvim/init.lua
  config/nvim/lsp/ast_grep.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/tools.lua
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore: gitignore tweaks
  .gitignore
  hosts/s/config/git/overrides/ignore
Due: none

fix(github): update SECURITY policy, copilot instructions, changelog config
  .github/SECURITY.md
  .github/copilot-instructions.md
  .github/tag-changelog-config.js
Due: biome-check, markdown-table-formatter

fix(ci): remove debug workflow and harden remaining workflows
  .github/workflows/changelog.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/new-release.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-submodules.yml
Due: none

docs(readme): move README to root and fix first-time setup
  README.md
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter
