Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

biome-check:
  name: Biome Check
  entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

markdown-table-formatter:
  name: Markdown Table Formatter
  entry: yarn markdown-table-formatter
  language: system

fix(nvim): improve keybindings doc generator
  docs/nvim-keybindings.md
  scripts/create-nvim-keymaps.sh
Due: biome-check, markdown-table-formatter

refactor(nvim): add nvim-lint, fix conform.nvim, consolidate to qa.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/qa.lua
Due: none

feat(nvim): add autoformat status icon to mini.statusline
  config/nvim/lua/plugins/editor.lua
Due: none

fix(nvim): fix ansible.cfg filetype and tailwindcss root_markers
  config/nvim/ftdetect/ansible.lua
  config/nvim/lsp/tailwindcss.lua
Due: none

fix(nvim): lowercase trouble filetype in winfixbuf autocmd
  config/nvim/lua/autogroups.lua
Due: none

fix(nvim): handle nil autoformat_enabled in statusline
  config/nvim/lua/plugins/editor.lua
Due: none

fix(nvim): restore relative line numbers in custom statuscolumn
  config/nvim/lua/options.lua
Due: none

fix(nvim): restore luv library in .luarc.json for vim.uv types
  config/nvim/.luarc.json
Due: biome-check

fix(nvim): make GetIntelephenseLicense safe on open failure
  config/nvim/lua/utils.lua
Due: none

chore(nvim): remove unused file_exists function from utils
  config/nvim/lua/utils.lua
Due: none

fix(nvim): address remaining PR review comments
  config/nvim/lsp/lua_ls.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/plugins/qa.lua
Due: none

fix(nvim): improve LspDetach and lint event handling
  config/nvim/lua/autogroups.lua
  config/nvim/lua/plugins/qa.lua
Due: none

refactor(nvim): use <cmd> keymaps and improve LspDetach handler
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/plugins/qa.lua
Due: none

docs(nvim): regenerate keybindings after cmd keymap migration
  docs/nvim-keybindings.md
Due: biome-check, markdown-table-formatter

refactor(nvim): modernize config for nvim 0.11 (#326)
  config/nvim/.luarc.json
  config/nvim/ftdetect/ansible.lua
  config/nvim/init.lua
  config/nvim/lsp/ansiblels.lua
  config/nvim/lsp/ast_grep.lua
  config/nvim/lsp/bashls.lua
  config/nvim/lsp/cssls.lua
  config/nvim/lsp/dockerls.lua
  config/nvim/lsp/eslint.lua
  config/nvim/lsp/gopls.lua
  config/nvim/lsp/html.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/jsonls.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/pyright.lua
  config/nvim/lsp/tailwindcss.lua
  config/nvim/lsp/terraformls.lua
  config/nvim/lsp/ts_ls.lua
  config/nvim/lsp/vimls.lua
  config/nvim/lsp/yamlls.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/options.lua
  config/nvim/lua/plugins/completion.lua
  config/nvim/lua/plugins/conform.lua
  config/nvim/lua/plugins/editor.lua
  config/nvim/lua/plugins/lsp.lua
  config/nvim/lua/plugins/navigation.lua
  config/nvim/lua/plugins/qa.lua
  config/nvim/lua/plugins/ui.lua
  config/nvim/lua/utils.lua
  docs/nvim-keybindings.md
  scripts/create-nvim-keymaps.sh
Due: biome-check, markdown-table-formatter

fix(shell): correct PATH and shell activation for bash/zsh on Linux
  base/bashrc
  base/zshrc
  config/exports
  local/bin/x-path
Due: none

feat(tmux): cross-platform dark/light mode switching
  config/tmux/linux-dark-notify.sh
  config/tmux/theme-activate.sh
  config/tmux/theme-dark.conf
  config/tmux/theme-light.conf
  config/tmux/tmux.conf
Due: none

fix(tmux): address Copilot review comments
  config/tmux/linux-dark-notify.sh
  config/tmux/theme-activate.sh
Due: none

feat(tmux): cross-platform dark/light mode switching (#327)
  config/tmux/linux-dark-notify.sh
  config/tmux/theme-activate.sh
  config/tmux/theme-dark.conf
  config/tmux/theme-light.conf
  config/tmux/tmux.conf
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

style(docs): fix markdown table formatting in x-help specs
  docs/superpowers/plans/2026-04-06-x-help.md
  docs/superpowers/specs/2026-04-06-x-help-design.md
Due: biome-check, markdown-table-formatter

fix(x-help): address PR review feedback
  docs/superpowers/plans/2026-04-06-x-help.md
  local/bin/x-help
  tests/x-help.bats
Due: biome-check, markdown-table-formatter

feat(x-help): add dotfiles documentation browser
  docs/superpowers/plans/2026-04-06-x-help.md
  docs/superpowers/specs/2026-04-06-x-help-design.md
  local/bin/x-help
  local/bin/x-help.md
  tests/x-help.bats
Due: biome-check, markdown-table-formatter

feat(x-help): add dotfiles documentation browser (#333)
  docs/superpowers/plans/2026-04-06-x-help.md
  docs/superpowers/specs/2026-04-06-x-help-design.md
  local/bin/x-help
  local/bin/x-help.md
  tests/x-help.bats
Due: biome-check, markdown-table-formatter

fix(shell): protect mise config from Dotbot clean and fix PATH ordering
  config/exports
  config/fish/exports.fish
  docs/superpowers/specs/2026-04-06-mise-path-fix-design.md
  install.conf.yaml
Due: biome-check, markdown-table-formatter

style(docs): fix markdown table formatting in mise spec
  docs/superpowers/specs/2026-04-06-mise-path-fix-design.md
Due: biome-check, markdown-table-formatter

feat(fonts): replace nerd-fonts installer with cross-platform script
  docs/superpowers/specs/2026-04-06-install-fonts-design.md
  scripts/install-fonts.md
  scripts/install-fonts.sh
Due: biome-check, markdown-table-formatter

fix(fonts): source shared.sh for msgr instead of direct sourcing
  scripts/install-fonts.sh
Due: none

fix(fonts): address PR review feedback
  docs/superpowers/specs/2026-04-06-install-fonts-design.md
  scripts/install-fonts.md
  scripts/install-fonts.sh
Due: biome-check, markdown-table-formatter

feat(fonts): replace nerd-fonts installer with cross-platform script (#334)
  docs/superpowers/specs/2026-04-06-install-fonts-design.md
  scripts/install-fonts.md
  scripts/install-fonts.sh
Due: biome-check, markdown-table-formatter

feat(tmux): migrate plugins from git submodules to TPM
  .claude/hooks/pre-edit-block.sh
  .editorconfig
  .gitmodules
  .ignore
  .markdownlintignore
  .serena/project.yml
  .yamlignore
  add-submodules.sh
  config/tmux/theme-dark.conf
  config/tmux/theme-light.conf
  config/tmux/tmux.conf
  docs/superpowers/plans/2026-04-06-tmux-tpm-migration.md
  docs/superpowers/specs/2026-04-06-tmux-tpm-migration-design.md
  install.conf.yaml
  local/bin/x-help
  tests/x-help.bats
Due: biome-check, markdown-table-formatter

feat(tmux): migrate plugins from git submodules to TPM (#335)
  .claude/hooks/pre-edit-block.sh
  .editorconfig
  .gitmodules
  .ignore
  .markdownlintignore
  .serena/project.yml
  .yamlignore
  add-submodules.sh
  config/tmux/theme-dark.conf
  config/tmux/theme-light.conf
  config/tmux/tmux.conf
  docs/superpowers/plans/2026-04-06-tmux-tpm-migration.md
  docs/superpowers/specs/2026-04-06-tmux-tpm-migration-design.md
  install.conf.yaml
  local/bin/x-help
  tests/x-help.bats
Due: biome-check, markdown-table-formatter

fix(tmux): sessionist and sesh conflict
  config/tmux/tmux.conf
Due: none

feat(shell): add infrastructure for usage-generated completions
  .editorconfig-checker.json
  base/bashrc
  base/zshrc
  install.conf.yaml
Due: biome-check

feat(scripts): add completion generator script
  scripts/install-completions.sh
  scripts/install-completions.sh.usage.kdl
Due: none

feat(dfm): run completion generation in install all
  local/bin/dfm
Due: none

feat(usage): add KDL specs for scripts/*.sh
  scripts/cleanup-old-version-managers.sh.usage.kdl
  scripts/create-nvim-keymaps.sh.usage.kdl
  scripts/create-wezterm-keymaps.sh.usage.kdl
  scripts/install-apt-packages.sh.usage.kdl
  scripts/install-cheat-purebashbible.sh.usage.kdl
  scripts/install-composer.sh.usage.kdl
  scripts/install-dnf-packages.sh.usage.kdl
  scripts/install-fonts.sh.usage.kdl
  scripts/install-gh-extensions.sh.usage.kdl
  scripts/install-macos-defaults.sh.usage.kdl
  scripts/install-ntfy.sh.usage.kdl
  scripts/install-python-packages.sh.usage.kdl
  scripts/install-shellspec.sh.usage.kdl
  scripts/install-xcode-cli-tools.sh.usage.kdl
  scripts/install-z.sh.usage.kdl
  scripts/shared.sh.usage.kdl
  scripts/update-readme-aliases.sh.usage.kdl
Due: none

chore(pre-commit): exclude generated completions from shellcheck/shfmt/ruff
  .pre-commit-config.yaml
Due: none

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|md)$
  markdown-table-formatter: any of: \.(md|markdown|mdown)$
