Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

feat(lint): enforce third-party exclusion list consistency
  .codacy.yml
  .exclusion-baseline.json
  package.json
  scripts/check-exclusion-drift.md
  scripts/check-exclusion-drift.py
  tests/check-exclusion-drift.bats
Due: biome-check, markdown-table-formatter

feat(graphify): add the bats suite to the knowledge graph
  .claude/rules/graphify-first.md
  .claude/rules/run-tests-before-commit.md
  scripts/graphify-tests.md
  scripts/graphify-tests.py
  tests/graphify-tests.bats
Due: biome-check, markdown-table-formatter

chore(deps): bump editorconfig-checker 3.11.3 → 4.0.1
  .mise.toml
  .pre-commit-config.yaml
  config/mise/config.toml
  package.json
Due: biome-check

docs(pre-commit): correct the bats hook runtime note
  .pre-commit-config.yaml
Due: none

feat(completions): add --prune and --prune-list for orphaned artifacts
  scripts/install-completions.sh
  tests/install-completions.bats
Due: none

refactor(dfm): install shellspec and ntfy via mise, drop installer steps
  config/mise/config.toml
  local/bin/dfm-install
  scripts/install-shellspec.md
  scripts/install-shellspec.sh
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

test(bats): keep fixture commits off the signing key
  tests/claude-hooks-misc.bats
  tests/git-attributes.bats
  tests/git-dirty.bats
  tests/git-update-dirs.bats
  tests/tv-gh-repos.bats
  tests/x-git-largest-files.bats
Due: none

chore(mise): enable auto_install
  config/mise/config.toml
Due: none

chore(deps): bump mise tool pins
  .mise.toml
  biome.json
  config/mise/config.toml
Due: biome-check

chore(gitignore): ignore mise per-tool install locks
  .gitignore
Due: none

fix(mise): exclude pypi tools from minimum_release_age
  config/mise/config.toml
Due: none

docs(biome): run migrate with the mise-pinned biome
  docs/commands.md
Due: biome-check, markdown-table-formatter

chore(hosts): ignore docs/lessons in host s overlay
  hosts/s/config/git/overrides/ignore
Due: none

chore(deps): bump repo toolchain node 26.9.0, usage 6.9.1
  .mise.toml
Due: none

feat(mise): pin pnpm 12.4.2
  config/mise/config.toml
Due: none

chore(deps): bump uv, github-cli, wakatime-cli, zennotes pins
  config/mise/config.toml
Due: none

docs(claude): add git-hunk commit rule
  .claude/rules/git-hunk-commits.md
Due: biome-check, markdown-table-formatter

ci(pre-commit): broaden v8r and add rules, CLAUDE.md, host and keymap gates
  .pre-commit-config.yaml
  package.json
Due: biome-check

chore(mise): track latest semgrep
  config/mise/config.toml
Due: none

feat(mise): pin adr-tools 3.0.0
  config/mise/config.toml
Due: none

feat(hooks): enforce secrets, bypass and vendored-path policy in every guard
  .claude/hooks/lib/protected-paths.sh
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/hooks/pre-edit-block.sh
  .claude/hooks/prompt-record.sh
  .claude/settings.json
  .gitignore
  tests/claude-hooks-misc.bats
  tests/pre-bash-route.bats
  tests/pre-ctx-write-guard.bats
  tests/pre-edit-block.bats
  tests/protected-paths-parity.bats
Due: biome-check

feat(hooks): block hedged rules pre-write and validate edits after
  .claude/hooks/lib/rules-lint.sh
  .claude/hooks/post-edit-lint.sh
  .claude/hooks/post-edit-rules-lint.sh
  .claude/hooks/pre-rules-lint.sh
  .claude/settings.json
  tests/claude-hooks-misc.bats
  tests/post-edit-rules-lint.bats
  tests/pre-rules-lint.bats
Due: biome-check

feat(scripts): add host-leak and keymap-description checks
  scripts/check-host-leak.sh
  scripts/check-keymap-desc.py
  tests/check-host-leak.bats
  tests/check-keymap-desc.bats
Due: none

feat(mise): add graphifyy to default python packages
  config/mise/default-python-packages
Due: none

docs(claude): add rules for mise, lib.sh, deletions and repo conventions
  .claude/rules/config-layout.md
  .claude/rules/fish-functions.md
  .claude/rules/grep-before-delete.md
  .claude/rules/lib-sh-side-effects.md
  .claude/rules/local-bin-scripts.md
  .claude/rules/mise-packages.md
  .claude/rules/theme-handler-contract.md
Due: biome-check, markdown-table-formatter

docs(claude): align rules and CLAUDE.md with the new hook enforcement
  .claude/agents/code-reviewer.md
  .claude/rules/bash-routing.md
  .claude/rules/context-mode.md
  .claude/rules/git-hunk-commits.md
  .claude/rules/graphify-first.md
  .claude/rules/host-specific-config.md
  .claude/rules/keymap-descriptions.md
  .claude/rules/lsp-list-parity.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/no-schema-guessing.md
  .claude/rules/run-tests-before-commit.md
  .claude/rules/secrets-files.md
  .claude/rules/shell-scripts.md
  .claude/rules/validate-config-schemas.md
  .claude/rules/vendored-files.md
  CLAUDE.md
  config/nvim/CLAUDE.md
  docs/secrets.md
Due: biome-check, markdown-table-formatter

docs(skills): report missing tools instead of skipping silently
  .claude/skills/lua-format/SKILL.md
  .claude/skills/new-script/SKILL.md
  .claude/skills/yaml-validate/SKILL.md
Due: biome-check, markdown-table-formatter

docs(copilot): refresh vendored, secrets, POSIX and bats guidance
  .github/copilot-instructions.md
Due: biome-check, markdown-table-formatter

docs(audit): record agent findings and resolve 37 of 40
  docs/audit/findings/INDEX.md
  docs/audit/findings/agent-hooks/open/agent-hooks-7a3ac8a2.md
  docs/audit/findings/agent-rules/open/agent-rules-296b9ec8.md
  docs/audit/findings/audit/open/audit-442aa6d9.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

chore(claude): remove ponytail from enabledPlugins
  .claude/settings.json
Due: biome-check

chore(gitignore): ignore local CodeQL run artifacts
  .gitignore
  .markdownlintignore
Due: none

feat(codeql): add a code scanning config and apply it locally
  .github/codeql/codeql-config.yml
  local/bin/x-codeql
  tests/x-codeql.bats
Due: none

fix(graphify): resolve test edges to __entry file nodes
  scripts/graphify-tests.py
  tests/graphify-tests.bats
Due: none

feat(nvim): add lsp_signature
  config/nvim/init.lua
  config/nvim/nvim-pack-lock.json
Due: biome-check

chore(lint): make CodeQL a sixth exclusion gate
  .exclusion-baseline.json
  scripts/check-exclusion-drift.py
Due: biome-check

feat(herdr): link the portable config, install plugins per machine
  config/herdr/config.toml
  config/herdr/plugins/config/herdr-navigator/config.toml
  config/herdr/plugins/config/sessionizer/config.toml
  dotbot-links.yaml
  scripts/install-herdr-plugins.sh
Due: none

build(mise): pin the codeql CLI
  config/mise/config.toml
Due: none

feat(theme): darken Catppuccin Latte accents to WCAG AA
  config/bat/themes/Catppuccin Latte.tmTheme
  config/cosmic-desktop/themes/cosmic-term/catppuccin-latte.ron
  config/fish/conf.d/theme-switch.fish
  config/fish/config.fish
  config/fish/themes/catppuccin-aa.theme
  config/nvim/init.lua
  config/television/themes/catppuccin-latte-mauve.toml
  config/theme/handlers.d/fish
  config/theme/palettes.d/dircolors.light
  config/theme/palettes.d/eza.light.yml
  config/theme/palettes.d/fzf.light.fish
  config/theme/palettes.d/fzf.light.sh
  config/theme/palettes.d/gh-dash.light.theme.yml
  config/theme/palettes.d/gitui.light.ron
  config/theme/palettes.d/starship.light.toml
  config/theme/palettes.d/tmux.light.conf
  config/theme/palettes.d/tmux.light.thm.conf
  config/theme/palettes.d/yazi.light.toml
  config/vim/after/colors.vim
  config/vim/autoload/airline/themes/catppuccin_latte.vim
  config/vim/autoload/lightline/colorscheme/catppuccin_latte.vim
  config/vim/colors/catppuccin_latte.vim
  config/vim/vimrc
  config/wezterm/wezterm.lua
  tests/theme-latte-contrast.bats
Due: none

fix(theme): rebuild the bat cache when a theme changes
  config/theme/handlers.d/bat
Due: none

docs(audit): record the Latte contrast findings
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter
