Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

docs(tools): add daily-driver tool guides
  docs/tools/README.md
  docs/tools/cli-essentials.md
  docs/tools/git-profile.md
  docs/tools/gopass.md
  docs/tools/mise.md
  docs/tools/sesh.md
Due: biome-check, markdown-table-formatter

docs: fix stale alias and command references
  docs/alias.md
  docs/audit/doc-findings.md
  docs/commands.md
Due: biome-check, markdown-table-formatter

chore: retire serena and remove .serena memories
  .serena/.gitignore
  .serena/memories/areas_for_improvement.md
  .serena/memories/code_style_conventions.md
  .serena/memories/critical_linting_errors.md
  .serena/memories/darwin_system_utilities.md
  .serena/memories/immediate_action_items.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/shellcheck_issues.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: biome-check, markdown-table-formatter

chore(git): drop orphaned everforest-delta theme
  config/git/everforest-delta
Due: none

docs: regenerate nvim and wezterm keybinding docs
  docs/nvim-keybindings.md
  docs/wezterm-keybindings.md
Due: biome-check, markdown-table-formatter

chore(docs): remove shipped superpowers plans and specs
  .gitignore
  docs/plans/2026-02-04-cargo-skip-installed-design.md
  docs/plans/2026-02-05-dfm-cleanup-design.md
  docs/plans/2026-02-05-x-scripts-cleanup-design.md
  docs/superpowers/plans/2026-03-27-nvim-config-trim.md
  docs/superpowers/plans/2026-03-27-nvim-optimize-round2.md
  docs/superpowers/plans/2026-03-30-native-lsp-and-folds.md
  docs/superpowers/plans/2026-04-06-tmux-tpm-migration.md
  docs/superpowers/plans/2026-04-06-x-help.md
  docs/superpowers/plans/2026-04-07-usage-completions-plan.md
  docs/superpowers/plans/2026-04-12-mise-python-precompiled-arch.md
  docs/superpowers/plans/2026-04-16-fix-findings.md
  docs/superpowers/plans/2026-04-27-theme-orchestrator-implementation.md
  docs/superpowers/specs/2026-03-27-nvim-config-trim-design.md
  docs/superpowers/specs/2026-03-27-nvim-optimize-round2-design.md
  docs/superpowers/specs/2026-03-30-native-lsp-and-folds-design.md
  docs/superpowers/specs/2026-04-06-install-fonts-design.md
  docs/superpowers/specs/2026-04-06-mise-path-fix-design.md
  docs/superpowers/specs/2026-04-06-tmux-tpm-migration-design.md
  docs/superpowers/specs/2026-04-06-x-help-design.md
  docs/superpowers/specs/2026-04-07-usage-completions-design.md
  docs/superpowers/specs/2026-04-12-mise-python-precompiled-arch-design.md
  docs/superpowers/specs/2026-04-16-fix-findings-design.md
  docs/superpowers/specs/2026-04-27-theme-orchestrator-design.md
  docs/superpowers/specs/2026-06-02-dfm-command-split-design.md
Due: biome-check, markdown-table-formatter

feat(mise): add zennotes and prek tools
  config/mise/config.toml
Due: none

feat(x): add git-style x-* dispatcher with tab-completion
  config/fish/completions/x.fish
  local/bin/x
  scripts/install-completions.sh
Due: none

feat(x): add git-style x-* dispatcher with tab-completion (#426)
  config/fish/completions/x.fish
  local/bin/x
  scripts/install-completions.sh
Due: none

feat(nvim): add pack-ui TUI for vim.pack plugin management
  config/nvim/init.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/pack-ui.lua
  config/nvim/lua/pack.lua
Due: none

docs(nvim): update CLAUDE.md and README.md for plugin changes
  config/nvim/CLAUDE.md
  config/nvim/README.md
Due: biome-check, markdown-table-formatter

refactor(nvim): annotate and clean up options, autogroups, utils
  config/nvim/lua/autogroups.lua
  config/nvim/lua/options.lua
  config/nvim/lua/utils.lua
Due: none

feat(nvim): disable mini.completion in Snacks picker buffers
  config/nvim/lua/autogroups.lua
Due: none

chore(nvim): update plugin lock file
  config/nvim/nvim-pack-lock.json
Due: biome-check

fix(nvim): defer Snacks keymaps until after plugins are loaded
  config/nvim/lua/keymaps.lua
Due: none

refactor(nvim): consolidate Snacks keymaps under single availability guard
  config/nvim/lua/keymaps.lua
Due: none

refactor(nvim): replace blink.cmp with mini.completion and mini.comment; drop render-markdown
  config/nvim/init.lua
  config/nvim/lua/options.lua
Due: none

refactor(nvim): annotate LSP configs and trim yamlls defaults
  config/nvim/ftdetect/ansible.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/yamlls.lua
Due: none

refactor(nvim): remove default hint fields from lua_ls config
  config/nvim/lsp/lua_ls.lua
Due: none

fix(nvim): add missing <Leader>p clue group for Pack UI
  config/nvim/init.lua
Due: none

refactor(nvim): mini.nvim completion, pack-ui TUI, and config cleanup (#437)
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/ftdetect/ansible.lua
  config/nvim/init.lua
  config/nvim/lsp/intelephense.lua
  config/nvim/lsp/lua_ls.lua
  config/nvim/lsp/yamlls.lua
  config/nvim/lua/autogroups.lua
  config/nvim/lua/keymaps.lua
  config/nvim/lua/options.lua
  config/nvim/lua/pack-ui.lua
  config/nvim/lua/pack.lua
  config/nvim/lua/utils.lua
  config/nvim/nvim-pack-lock.json
Due: biome-check, markdown-table-formatter

chore(nvim): update nvim pack
  config/nvim/nvim-pack-lock.json
Due: biome-check

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(tmux): add suspend lock indicator, battery module, fix status comments
  config/theme/palettes.d/tmux.dark.conf
  config/theme/palettes.d/tmux.light.conf
  config/tmux/tmux.conf
Due: none

fix(starship): remove battery module and restore Nerd Font glyph escapes
  config/theme/palettes.d/starship.dark.toml
  config/theme/palettes.d/starship.light.toml
Due: none

chore(mise): pin tool versions and add git-hunk, hunk, 1password-cli
  config/mise/config.toml
Due: none

chore(deps): drop 1password cask, remove unused nvim plugins and op alias
  config/homebrew/Brewfile
  config/nvim/nvim-pack-lock.json
  config/op/plugins.sh
Due: biome-check

chore: ignore worktrees dir; record nitpicker Pass 38 findings
  .claude/nitpicker-status.json
  config/git/ignore
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(mise): add television, remove gum
  config/homebrew/trust.json.lock
  config/mise/config.toml
  scripts/cleanup-old-version-managers.sh
Due: none

feat(t): migrate from fzf to tv with fzf fallback
  local/bin/t
Due: none

feat(tv-preview): add markdown dispatcher with glow theme support
  local/bin/tv-preview
Due: none

feat(zoxide): replace fish function with universal bash script
  config/fish/functions/zoxide-seed.fish
  config/tmux/sesh.sh
  local/bin/zoxide-seed
Due: none

fix(theme-mode): remove unused msgr sourcing
  local/bin/theme-mode
Due: none

docs: add television and shell keybindings reference
  docs/shell.md
  docs/tv.md
Due: biome-check, markdown-table-formatter

fix(tv): address CR review findings across cable configs and scripts
  config/fish/config.fish
  config/television/cable/cargo-commands.toml
  config/television/cable/channels.toml
  config/television/cable/crontab.toml
  config/television/cable/dirs.toml
  config/television/cable/docker-compose.toml
  config/television/cable/docker-networks.toml
  config/television/cable/downloads.toml
  config/television/cable/files.toml
  config/television/cable/gh-prs.toml
  config/television/cable/git-branch.toml
  config/television/cable/git-deletions.toml
  config/television/cable/git-diff.toml
  config/television/cable/git-files.toml
  config/television/cable/git-log.toml
  config/television/cable/git-reflog.toml
  config/television/cable/git-repos.toml
  config/television/cable/git-submodules.toml
  config/television/cable/man-pages.toml
  config/television/cable/mounts.toml
  config/television/cable/node-packages.toml
  config/television/cable/npm-packages.toml
  config/television/cable/path.toml
  config/television/cable/recent-files.toml
  config/television/cable/unicode.toml
  config/television/cable/zoxide.toml
  docs/tv.md
  local/bin/tv-preview
  local/bin/zoxide-seed
  scripts/cleanup-old-version-managers.sh
Due: biome-check, markdown-table-formatter

fix(tv): quote $SHELL in all cd action commands
  config/television/cable/dirs.toml
  config/television/cable/git-repos.toml
  config/television/cable/git-worktrees.toml
  config/television/cable/mounts.toml
  config/television/cable/path.toml
  config/television/cable/zoxide.toml
Due: none

feat(fish): replace bat alias with git and dotnet abbreviations
  config/fish/alias.fish
Due: none

chore(fish): default VISUAL to nvim and drop AWS/Terraform exports
  config/fish/exports.fish
Due: none
