Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

fix(dfm-check): fail rather than assume 0777 for the create default
  local/bin/dfm-check
  tests/claude-hooks-misc.bats
Due: none

ci(bandit): scope the B607 acceptance to its seven call sites
  local/bin/x-git-largest-files.py
  pyproject.toml
Due: none

docs: name prek as the hook runner and complete the NOTICE
  .claude/hooks/post-edit-config-warn.sh
  .github/copilot-instructions.md
  NOTICE
  docs/commands.md
Due: biome-check, markdown-table-formatter

fix(hooks): handle env -S and fail closed on unparsed wrapper options
  .claude/hooks/pre-bash-route.sh
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/hooks/pre-edit-block.sh
  .claude/rules/vendored-files.md
  tests/pre-bash-route.bats
  tests/pre-edit-block.bats
Due: biome-check, markdown-table-formatter

fix(dfm-check): fail closed when the permission scan cannot read its inputs
  local/bin/dfm-check
Due: none

docs: record submodule licenses and revert the Copilot prek change
  .github/copilot-instructions.md
  NOTICE
  pyproject.toml
  tests/pushover.bats
Due: biome-check, markdown-table-formatter

fix(hooks): handle attached and nested-quoted env -S operands
  .claude/hooks/pre-bash-route.sh
  tests/pre-bash-route.bats
Due: none

fix(dfm-check): validate declared modes instead of sanitising them
  local/bin/dfm-check
Due: none

fix(hooks): match path-qualified env and refuse unresolvable command words
  .claude/hooks/pre-bash-route.sh
  tests/pre-bash-route.bats
Due: none

fix(dfm-check): validate the default mode too, not just explicit ones
  local/bin/dfm-check
Due: none

fix(hooks): do not block a dotbot edit when no YAML parser exists
  .claude/hooks/post-edit-dotbot-validate.sh
  tests/claude-hooks-misc.bats
Due: none

test(hooks): stub bats instead of nesting a real run
  tests/claude-hooks-misc.bats
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(bandit): exclude vendored vim plugin tree from scans
  pyproject.toml
Due: none

chore(brew): remove yabai and skhd
  .claude/rules/posix-scripts.md
  .gitignore
  CLAUDE.md
  config/homebrew/Brewfile
  config/yabai/yabairc
  docs/mise.md
Due: biome-check, markdown-table-formatter

chore(brew): trust third-party taps
  config/homebrew/trust.json
Due: biome-check

chore(mise): pin floating versions and regroup tools
  config/homebrew/Brewfile
  config/mise/config.toml
Due: none

chore(deps): update mise pins to latest
  .mise.toml
  config/mise/config.toml
Due: none

chore: refresh mise pins, remove yabai/skhd, fix bandit scan scope (#642)
  .claude/rules/posix-scripts.md
  .gitignore
  .mise.toml
  CLAUDE.md
  config/homebrew/Brewfile
  config/homebrew/trust.json
  config/mise/config.toml
  config/yabai/yabairc
  docs/mise.md
  pyproject.toml
Due: biome-check, markdown-table-formatter

chore(ci): remove pre-commit-autoupdate workflow
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pre-commit-autoupdate.yml
Due: biome-check, markdown-table-formatter

chore(ci): remove pre-commit-autoupdate workflow (#643)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pre-commit-autoupdate.yml
Due: biome-check, markdown-table-formatter

feat(dfm): add perms --fix and cover secret files
  local/bin/dfm-check
  tests/dfm-check-perms.bats
Due: none

fix(install): enforce declared modes on every run
  dotbot-links.yaml
  install.conf.yaml
Due: none

docs(rules): require owner-only modes for shell secrets
  .claude/rules/secrets-files.md
  local/bin/CLAUDE.md
Due: biome-check, markdown-table-formatter

chore(mise): pin grype and syft to the github backend
  config/mise/config.toml
Due: none

docs(mise): record why the bootstrap formulae cannot become tools
  config/mise/config.toml
Due: none

feat(tmux): size the sesh popup and sort entries alphabetically
  config/television/cable/sesh.toml
  config/tmux/sesh.sh
  config/tmux/tmux.conf
Due: none

fix(shell): stop go installs shadowing mise-managed tools
  config/exports
  config/fish/exports.fish
Due: none

feat(mise): manage the go linters and templ
  config/mise/config.toml
Due: none

fix(tests): use portable stat in the perms assertions
  tests/dfm-check-perms.bats
Due: none

chore(deps): bump usage 6.1.0 → 6.4.0
  config/mise/config.toml
Due: none

chore(mise): pin govulncheck and move it to the security section
  config/mise/config.toml
Due: none

chore(mise): auto_update set to true
  config/mise/config.toml
Due: none

chore(ssh): turingpi ips
  ssh/shared.d/turingpi
Due: none

fix(nvim): show apply/discard verbs on pack confirm buffer
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/lua/pack-ui.lua
  config/nvim/lua/pack.lua
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

chore(nvim): sync nvim-pack lockfile to installed revs
  config/nvim/nvim-pack-lock.json
Due: biome-check

fix(audit): use repository-relative path in findings index
  docs/audit/findings/INDEX.md
Due: biome-check, markdown-table-formatter

fix(nvim): show apply/discard verbs in the vim.pack update flow (#682)
  config/nvim/CLAUDE.md
  config/nvim/README.md
  config/nvim/lua/pack-ui.lua
  config/nvim/lua/pack.lua
  config/nvim/nvim-pack-lock.json
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter
