Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

biome-check:
  name: Biome Check
  entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

markdown-table-formatter:
  name: Markdown Table Formatter
  entry: yarn markdown-table-formatter
  language: system

feat(claude): manage statusline script via base/claude dotbot link
  base/claude/statusline-command.sh
  dotbot-links.yaml
Due: none

feat(dfm): generalize dfm docs to list and render any docs/*.md
  CLAUDE.md
  README.md
  config/glow/glow.yml
  docs/README.md
  docs/cli-essentials.md
  docs/git-profile.md
  docs/gopass.md
  docs/mise.md
  docs/sesh.md
  docs/tools/README.md
  local/bin/dfm-docs
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

refactor(alias): extract ls family into shared x-eza-git script
  config/alias
  config/fish/alias.fish
  docs/aliases.md
  local/bin/x-eza-git
  tests/x-eza-git.bats
Due: biome-check, markdown-table-formatter

chore(hosts): ignore __pycache__ on host s
  hosts/s/config/git/overrides/ignore
Due: none

chore(deps): update mise packages
  .mise.toml
  config/mise/config.toml
Due: none

chore(cfg): update biome.json schema version
  biome.json
Due: biome-check

feat(claude): show context window usage in statusline
  base/claude/statusline-command.sh
  tests/statusline-command.bats
Due: none

feat(yazi): add Catppuccin theme wiring
  config/yazi/Catppuccin-latte.tmTheme
  config/yazi/Catppuccin-mocha.tmTheme
  config/yazi/theme.toml
Due: none

feat(twonky): add electron wayland/gpu flags
  hosts/twonky/config/electron-flags.conf
Due: none

chore(ci): fix zizmor access to GITHUB_TOKEN
  .mega-linter.yml
Due: none

chore(yazi): stop tracking handler-generated theme links
  .gitignore
  config/yazi/Catppuccin-latte.tmTheme
  config/yazi/Catppuccin-mocha.tmTheme
  config/yazi/theme.toml
Due: none

chore(ssh): add ed25519 allowed signer
  ssh/allowed_signers
Due: none

chore(bin): remove x-multi-ping.pl superseded by the bash port
  local/bin/x-multi-ping.pl
  local/bin/x-multi-ping.pl.md
Due: biome-check, markdown-table-formatter

feat(tv): add gh-repos channel with tv-gh-repos backend
  config/television/cable/gh-repos.toml
  docs/tv.md
  local/bin/tv-gh-repos
Due: biome-check, markdown-table-formatter

feat(tv): add images and launchd-services channels
  config/television/cable/images.toml
  config/television/cable/launchd-services.toml
Due: none

feat(bin): add x-list-open-prs
  local/bin/x-list-open-prs
Due: none

chore(scripts): install packaging library for x-compare-versions.py
  scripts/install-python-packages.sh
Due: none

ci(workflows): harden checkouts, add concurrency, bump actions
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linters.yml
  .github/workflows/new-release.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-submodules.yml
Due: none

feat(nvim): enable zizmor language server
  config/nvim/init.lua
Due: none

feat(hammerspoon): add meh-key window management binds
  base/hammerspoon/init.lua
Due: none

docs(audit): record nitpicker passes 43 and 44
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

chore(deps): update phpenv.fish
  config/fish/completions/phpenv.fish
  config/fish/conf.d/phpenv.fish
  config/fish/functions/phpenv.fish
Due: none

refactor(hammerspoon): bind meh-key controls by keycode via helpers
  base/hammerspoon/init.lua
Due: none

feat(scripts): add x-secure-input-lock to report secure input holder
  local/bin/x-secure-input-lock
  tests/x-secure-input-lock.bats
Due: none

feat(karabiner): map UHK f-keys and ignore non-UHK keyboards
  config/karabiner/karabiner.json
Due: biome-check

feat(mise): migrate brew formulae to bootstrap; move php to phpenv
  config/homebrew/Brewfile
  config/mise/config.toml
  docs/mise.md
  local/bin/dfm-brew
  local/bin/dfm-install
Due: biome-check, markdown-table-formatter

chore(homebrew): track brew trust.json, gitignore its runtime lock
  .gitignore
  biome.json
  config/homebrew/trust.json
  config/homebrew/trust.json.lock
Due: biome-check

feat(tmux): rounded window blocks with active-pane zoom indicator
  config/theme/palettes.d/tmux.dark.conf
  config/theme/palettes.d/tmux.light.conf
  config/tmux/tmux.conf
  config/tmux/window-blocks.conf
Due: none

fix(ci): keep persist-credentials on release checkout to push the tag
  .github/workflows/new-release.yml
Due: none

fix(ci): keep persist-credentials on submodule-update checkout for git push
  .github/workflows/update-submodules.yml
Due: none

fix(tests): probe GNU stat before BSD in permission and mtime checks
  tests/dfm.bats
  tests/theme-lib.bats
Due: none

ci(workflows): run bats suite and fish checks in CI
  .github/workflows/tests.yml
Due: none

style(fish): reformat phpenv files with fish_indent
  config/fish/completions/phpenv.fish
  config/fish/conf.d/phpenv.fish
  config/fish/functions/phpenv.fish
Due: none

docs(audit): migrate v1 findings to v2 store, record pass 45
  docs/audit/findings/.gitattributes
  docs/audit/findings/INDEX.md
  docs/audit/findings/audit/open/N-204.md
  docs/audit/findings/resolved.jsonl
  docs/audit/findings/security/open/SEC-001.md
  docs/audit/findings/security/open/SEC-003.md
Due: biome-check, markdown-table-formatter

fix(fish): probe GNU stat first in theme-switch mtime watcher
  config/fish/conf.d/theme-switch.fish
Due: none

feat(claude): guard context-mode sandbox writes to protected paths
  .claude/hooks/pre-ctx-write-guard.sh
  .claude/settings.json
  CLAUDE.md
Due: biome-check, markdown-table-formatter

docs(license): add MIT license text
  LICENSE
Due: none

chore(deps): remove unused typescript and @types/node
  package.json
  yarn.lock
Due: biome-check

docs(audit): remove v1 findings files migrated to the v2 store
  .claude/nitpicker-status.json
  docs/audit/arch-findings.md
  docs/audit/claude-rules-auditor-findings.md
  docs/audit/doc-findings.md
  docs/audit/nitpicker-findings.md
  docs/audit/security-findings.md
Due: biome-check, markdown-table-formatter

Path conditions:
  biome-check: any of: \.(js|ts|jsx|tsx|json|md)$
  markdown-table-formatter: any of: \.(md|markdown|mdown)$
