Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

chore(fish): remove LM Studio and opencode PATH entries
  config/fish/config.fish
Due: none

fix(fish): align bash/zsh exports with fish config
  config/exports
Due: none

docs(audit): record nitpicker pass 39
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

feat(vim): mirror neovim keymaps into vimrc and ideavimrc
  config/ideavim/ideavimrc
  config/vim/vimrc
Due: none

chore(alacritty): remove alacritty config
  config/alacritty/alacritty.toml
  config/alacritty/theme-day.toml
  config/alacritty/theme-night.toml
Due: none

chore(lazygit): remove lazygit config
  config/lazygit/base.yml
  install.conf.yaml
Due: none

chore(skhd): remove skhd config
  config/skhd/skhdrc
Due: none

chore(terraform): remove terraform config
  config/terraform/terraformrc
Due: none

chore(alacritty): remove dangling theme-switcher script and wiring
  .gitignore
  config/exports
  local/bin/x-change-alacritty-theme
  local/bin/x-change-alacritty-theme.md
  tests/x-change-alacritty-theme.bats
Due: biome-check, markdown-table-formatter

feat(alias): align aliases across bash, zsh, and fish
  base/zshrc
  config/alias
  config/fish/alias.fish
Due: none

chore: extract aliases as commands
  config/alias
  config/fish/alias.fish
  docs/nvim-keybindings.md
  docs/wezterm-keybindings.md
  local/bin/afk
  local/bin/art
  local/bin/pubkey
  local/bin/sail
  local/bin/x-code-scanner
  local/bin/x-empty-trash
  local/bin/x-mirror-site
  local/bin/x-trivy-scan
  local/bin/zap
Due: biome-check, markdown-table-formatter

feat(theme): default to dark when the OS reports no color preference
  config/theme/watcher
  tests/theme-watcher.bats
Due: none

fix(theme): probe the terminal per-session over SSH, not the stale cache
  config/exports
  config/fish/config.fish
Due: none

refactor(theme): apply themes via state dir and env vars, drop excludes
  .gitignore
  config/exports
  config/fish/conf.d/theme-switch.fish
  config/fish/exports.fish
  config/fish/functions/theme-reapply.fish
  config/television/base.toml
  config/television/themes/catppuccin-latte-mauve.toml
  config/television/themes/catppuccin-mocha-mauve.toml
  config/theme/_lib.sh
  config/theme/handlers.d/bat
  config/theme/handlers.d/gh-dash
  config/theme/handlers.d/television
  config/theme/palettes.d/bat.dark.config
  config/theme/palettes.d/bat.light.config
  config/theme/palettes.d/television.dark.toml
  config/theme/palettes.d/television.light.toml
  docs/tv.md
  install.conf.yaml
  tests/theme-handlers.bats
Due: biome-check, markdown-table-formatter

chore(theme): remove lazygit theming after its config was dropped
  config/theme/handlers.d/lazygit
  config/theme/palettes.d/lazygit.dark.theme.yml
  config/theme/palettes.d/lazygit.light.theme.yml
Due: none

chore(deps): add dnsutils to apt for dig-based helpers
  scripts/install-apt-packages.sh
Due: none

refactor(x-ip): resolve external IP via dig instead of curl
  local/bin/x-ip
  local/bin/x-ip.md
Due: biome-check, markdown-table-formatter

feat(bin): add x-datetime and x-timestamp helpers
  local/bin/x-datetime
  local/bin/x-datetime.md
  local/bin/x-timestamp
  local/bin/x-timestamp.md
Due: biome-check, markdown-table-formatter

feat(dfm): add ssh signing-key helper (dfm ssh)
  local/bin/dfm
  local/bin/dfm-ssh
  ssh/allowed_signers
Due: none

refactor(dfm): make 'dfm docs' a viewer, generate via 'dfm helpers docs-*'
  CLAUDE.md
  README.md
  docs/tmux-keybindings.md
  local/bin/dfm-docs
  local/bin/dfm-helpers
  local/bin/x-dfm-docs-tmux-keybindings
  local/bin/x-dfm-docs-tmux-keybindings.md
  tests/dfm.bats
Due: biome-check, markdown-table-formatter

feat(glow): render markdown with terminal-palette style
  config/glow/terminal.json
  local/bin/tv-preview
  local/bin/x-glow
Due: biome-check

refactor(aliases): align bash/zsh with fish, extract standalone cmds to x-*
  config/alias
  config/fish/alias.fish
  local/bin/x-git-root
  local/bin/x-ips
  local/bin/x-ips.md
  local/bin/x-macos-flush
  local/bin/x-macos-flushdns
  local/bin/x-macos-hide
  local/bin/x-macos-show
  local/bin/x-macos-updatedb
Due: biome-check, markdown-table-formatter

feat(docs): rewrite alias-doc generator with shell grouping
  docs/alias.md
  docs/aliases.md
  docs/tools/README.md
  docs/tools/cli-essentials.md
  scripts/update-readme-aliases.md
  scripts/update-readme-aliases.sh
  tests/update-readme-aliases.bats
Due: biome-check, markdown-table-formatter

fix(mise): keep shims dir ahead of mise-activate install paths
  config/exports
  config/fish/config.fish
Due: none

fix(tmux): fall back to fzf when the tv picker fails
  config/tmux/sesh.sh
Due: none

feat(tmux): keep Ctrl-arrow pane navigation in copy-mode-vi
  config/tmux/tmux.conf
Due: none

fix(theme): reclaim stale television cable/themes dirs before relinking
  config/theme/handlers.d/television
Due: none

chore(host-s): ignore _extra and .mcp.json
  hosts/s/config/git/overrides/ignore
Due: none

fix(tmux): drop 'to fzf' from sesh fallback message (may use select)
  config/tmux/sesh.sh
Due: none

fix(dfm): resolve wezterm docs path via $DOTFILES like nvim/tmux
  scripts/create-wezterm-keymaps.sh
Due: none

fix(macos): tolerate a non-running Finder in x-macos-show/hide
  local/bin/x-macos-hide
  local/bin/x-macos-show
Due: none

fix(biome): remove markdown override that bypassed ignoreUnknown
  biome.json
Due: biome-check

chore(audit): record nitpicker pass 40 — zero findings
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter

fix(git): use mise shim path for gh credential helper
  config/git/config
Due: none

chore(settings): enable ponytail plugin, fix property order
  .claude/settings.json
Due: biome-check

feat(dotbot): extract link steps and add install --links
  CLAUDE.md
  README.md
  dotbot-links.yaml
  install
  install.conf.yaml
Due: biome-check, markdown-table-formatter

fix(tmux): improve battery icon contrast in latte theme
  config/theme/palettes.d/tmux.light.conf
Due: none

fix(tmux): skip battery status module when no battery present
  config/tmux/tmux.conf
Due: none

chore(audit): record nitpicker pass 41-42 — zero open findings
  .claude/nitpicker-status.json
  docs/audit/nitpicker-findings.md
Due: biome-check, markdown-table-formatter
