Repository ivuorinen/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, markdown-table-formatter

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: requirements-txt-fixer
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=auto]

  - repo: local
    hooks:
      - id: biome-check
        name: Biome Check
        entry: yarn biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        files: \.(js|ts|jsx|tsx|json|md)$
      - id: markdown-table-formatter
        name: Markdown Table Formatter
        entry: yarn markdown-table-formatter
        language: system
        types: [markdown]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        additional_dependencies:
          - prettier@3.8.1

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: [-i, "2", -bn, -ci, -sr, -fn, -w]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.11
    hooks:
      - id: actionlint

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua # or stylua-system / stylua-github
        exclude: hammerspoon\.types\.lua$

  - repo: https://github.com/hugoh/pre-commit-fish.git
    rev: v1.2
    hooks:
      - id: fish_syntax
      - id: fish_indent

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

fix(bin): test filesystem root in x-eza-git upward walk
  local/bin/x-eza-git
Due: none

chore(security): scope grype scans to authored content
  .grype.yaml
Due: none

chore(claude): retire v1 findings-format hook and rule
  .claude/hooks/post-edit-audit-findings-lint.sh
  .claude/rules/audit-findings-structure.md
  .claude/settings.json
Due: biome-check, markdown-table-formatter

docs(audit): resolve remaining advisories, zero open findings
  docs/audit/findings/INDEX.md
  docs/audit/findings/audit/open/N-204.md
  docs/audit/findings/resolved.jsonl
  docs/audit/findings/security/open/SEC-001.md
  docs/audit/findings/security/open/SEC-003.md
Due: biome-check, markdown-table-formatter

fix(bin): make dfm and x-* helpers work on uninstalled checkouts
  local/bin/dfm-lib
  local/bin/x-apply-uhk-layout
  local/bin/x-foreach
  local/bin/x-help
  local/bin/x-secure-input-lock
Due: none

docs(audit): record CI-failure finding audit-07e93648 as fixed
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
Due: biome-check, markdown-table-formatter

ci(workflows): provision bash 4+ and coreutils on macOS runners
  .github/workflows/tests.yml
Due: none

fix(tmux): emit window pill glyphs with POSIX octal escapes
  config/tmux/window-blocks.conf
Due: none

fix(shell): export UTF-8 locale fallback in shell init
  config/exports
  config/fish/exports.fish
Due: none

fix(theme): detect terminal background through tmux over SSH
  config/exports
  config/fish/config.fish
  config/theme/probe-osc11
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
  tests/theme-probe-osc11.bats
Due: biome-check, markdown-table-formatter

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(tv-gh-repos): status icons, JSON output, and clone-status filters
  config/television/cable/gh-repos.toml
  local/bin/tv-gh-repos
Due: none

feat(tmux): add prefix+T popup for tv gh-repos
  config/tmux/tmux.conf
Due: none

chore(git): ignore docs/specs in host s overlay
  hosts/s/config/git/overrides/ignore
Due: none

fix(ci): create releases with gh CLI instead of action-gh-release
  .github/workflows/new-release.yml
Due: none

ci(pre-commit): add markdownlint, editorconfig-checker, zizmor, gitleaks
  .pre-commit-config.yaml
Due: none

feat(graphify): add knowledge-graph skill, hooks, and docs
  .claude/CLAUDE.md
  .claude/settings.json
  .claude/skills/graphify/.graphify_version
  .claude/skills/graphify/SKILL.md
  .claude/skills/graphify/references/add-watch.md
  .claude/skills/graphify/references/exports.md
  .claude/skills/graphify/references/extraction-spec.md
  .claude/skills/graphify/references/github-and-merge.md
  .claude/skills/graphify/references/hooks.md
  .claude/skills/graphify/references/query.md
  .claude/skills/graphify/references/transcribe.md
  .claude/skills/graphify/references/update.md
  CLAUDE.md
Due: biome-check, markdown-table-formatter

chore(lint): exclude graphify artifacts from git and linters
  .editorconfig-checker.json
  .gitignore
  .markdownlintignore
Due: biome-check

docs(rules): halt when context-mode MCP tools are missing
  .claude/rules/context-mode-issues.md
Due: biome-check, markdown-table-formatter

fix(cleanup): remove ~/.pyenv default root so it can't shadow mise
  config/exports
  scripts/cleanup-old-version-managers.sh
Due: none

fix(dotbot): force-link ~/.config/mise so a stray real dir can't block it
  dotbot-links.yaml
Due: none

feat(completions): generate bash/zsh completions for third-party tools
  scripts/install-completions.sh
Due: none

feat(scripts): add is-sudoer, auto-skip system packages without sudo
  local/bin/dfm-install
  local/bin/is-sudoer
  tests/is-sudoer.bats
Due: none

fix(install): log step failures and continue instead of aborting
  local/bin/dfm-install
Due: none

fix(lakka): skip uninstallable dotnet tools via MISE_DISABLE_TOOLS
  hosts/lakka/config/exports-lakka
Due: none

feat(install): run host before.d/after.d hook scripts around install
  hosts/README.md
  install
Due: biome-check, markdown-table-formatter

fix(lakka): set MISE_DISABLE_TOOLS in fish too for parity
  hosts/lakka/config/fish/exports.fish
Due: none

chore(mise): add gh-history and osv-scanner
  config/mise/config.toml
Due: none

fix(shell): respect inherited DOTFILES in bashrc and zshrc
  base/bashrc
  base/zshrc
  tests/shell-entry-dotfiles.bats
Due: none

feat(theme): add tv theme cable and prefix+m tmux binding
  config/television/cable/theme.toml
  config/tmux/tmux.conf
  docs/tmux-keybindings.md
  docs/tv.md
Due: biome-check, markdown-table-formatter

refactor(claude): consolidate rules and align routing with the hook
  .claude/CLAUDE.md
  .claude/rules/bash-routing.md
  .claude/rules/commit-format.md
  .claude/rules/context-mode-issues.md
  .claude/rules/context-mode.md
  .claude/rules/editorconfig.md
  .claude/rules/graphify-first.md
  .claude/rules/no-hook-bypass.md
  .claude/rules/no-npm.md
  .claude/rules/no-schema-guessing.md
  .claude/rules/read-routing.md
  .claude/rules/shell-scripts.md
  .claude/rules/validate-config-schemas.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/audit/findings/INDEX.md
  docs/audit/findings/resolved.jsonl
  package.json
Due: biome-check, markdown-table-formatter

fix(scripts): clean up temp files on failure paths
  local/bin/a
  local/bin/ad
  local/bin/t
  local/bin/x-codeql
  local/bin/x-dfm-docs-tmux-keybindings
  local/bin/x-gh-get-latest-version
  local/bin/x-sonarcloud
Due: none

fix(msgr): write err and warn to stderr
  local/bin/msgr
Due: none

docs(dfm): document the ssh section and add it to completions
  CLAUDE.md
  scripts/install-completions.sh
Due: biome-check, markdown-table-formatter

test: cover msgr and dfm-lib
  tests/dfm-lib.bats
  tests/msgr.bats
Due: none

fix(claude): guard the vendored graphify and iterm2 trees
  .claude/hooks/pre-edit-block.sh
  .claude/rules/vendored-files.md
  docs/audit/arch-profile.md
Due: biome-check, markdown-table-formatter

ci(tests): run yarn lint on push to main
  .github/workflows/tests.yml
  .mise.toml
Due: none
